Repository openfoodfacts/open-prices-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, Price addition, Brands, üìç Locations, ü•´ Product page, üîç Search, Stats, User, User dashboard, ‚öôÔ∏è Settings, Action menus

.github/labeler.yml:

# For reference, please look at https://github.com/actions/labeler

GitHub Actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

Price addition:
- changed-files:
  - any-glob-to-any-file: 'src/views/PriceAddHome.vue'
  - any-glob-to-any-file: 'src/views/PriceAddSingle.vue'
  - any-glob-to-any-file: 'src/views/PriceAddMultiple.vue'

Brands:
- changed-files:
  - any-glob-to-any-file: 'src/views/BrandDetail.vue'

üìç Locations:
- changed-files:
  - any-glob-to-any-file: 'src/views/LocationList.vue'
  - any-glob-to-any-file: 'src/views/LocationDetail.vue'

ü•´ Product page:
- changed-files:
  - any-glob-to-any-file: 'src/views/ProductList.vue'
  - any-glob-to-any-file: 'src/views/ProductDetail.vue'

üîç Search:
- changed-files:
  - any-glob-to-any-file: 'src/views/Search.vue'

Stats:
- changed-files:
  - any-glob-to-any-file: 'src/views/Stats.vue'

User:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserList.vue'
  - any-glob-to-any-file: 'src/views/UserDetail.vue'

User dashboard:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserDashboard*.vue'

‚öôÔ∏è Settings:
- changed-files:
  - any-glob-to-any-file: 'src/views/Settings.vue'

Action menus:
- changed-files:
  - any-glob-to-any-file: 'src/components/*ActionMenuButton.vue'

Translations:
- all:
  - changed-files:
    - any-glob-to-any-file: 'src/i18n/**/*'
    - all-globs-to-all-files: '!src/i18n/locales/en.json'

New translations en.json (Tigrinya) [ci skip]
  src/i18n/locales/ti.json
Labels: none

New translations en.json (Sanskrit) [ci skip]
  src/i18n/locales/sa.json
Labels: none

New translations en.json (Akan, Twi) [ci skip]
  src/i18n/locales/tw.json
Labels: none

New translations en.json (Urdu (India)) [ci skip]
  src/i18n/locales/ur.json
Labels: none

New translations en.json (Karakalpak) [ci skip]
  src/i18n/locales/kaa.json
Labels: none

fix(User card): avoid overlap between chips and action menu
  src/components/UserCard.vue
Labels: none

fix(Location card): avoid overlap between chips and action menu
  src/components/LocationCard.vue
  src/views/LocationList.vue
Labels: üìç Locations

chore(master): release 1.115.0
  CHANGELOG.md
Labels: none

chore(master): release 1.115.0 (#1338)
  CHANGELOG.md
Labels: none

fix(Stats): fix display of price_tag_status_linked_to_price_count. ref #1339
  src/views/Stats.vue
Labels: Stats

fix(Price detail): show error message if price not found. ref #797
  src/i18n/locales/en.json
  src/views/PriceDetail.vue
  src/views/ProofDetail.vue
Labels: none

fix(Location detail): show error message if location not found
  src/i18n/locales/en.json
  src/views/LocationDetail.vue
Labels: üìç Locations

Proof form: change look & feel of Date & Currency fields
  src/assets/main.css
  src/components/ProofMetadataInputRow.vue
Labels: none

Also change receipt fields
  src/components/ProofMetadataInputRow.vue
Labels: none

refactor(Proof add): change look & feel of input fields (#1329)
  src/assets/main.css
  src/components/ProofMetadataInputRow.vue
Labels: none

refactor(Proof add): smaller label icons. reduce padding between input fields. ref #1329
  src/components/ProofMetadataInputRow.vue
Labels: none

refactor(Proof add): Currency field: add basic help icon + tooltip
  src/components/ProofMetadataInputRow.vue
Labels: none

New translations en.json (Spanish) [ci skip]
  src/i18n/locales/es.json
Labels: none

New translations en.json (Portuguese, Brazilian) [ci skip]
  src/i18n/locales/pt_BR.json
Labels: none

New translations en.json (Italian) [ci skip]
  src/i18n/locales/it.json
Labels: none

New translations en.json (Dutch, Belgium) [ci skip]
  src/i18n/locales/nl_BE.json
Labels: none

New translations en.json (Romanian) [ci skip]
  src/i18n/locales/ro.json
Labels: none

New translations en.json (French) [ci skip]
  src/i18n/locales/fr.json
Labels: none

New translations en.json (Arabic) [ci skip]
  src/i18n/locales/ar.json
Labels: none

New translations en.json (Belarusian) [ci skip]
  src/i18n/locales/be.json
Labels: none

New translations en.json (Bulgarian) [ci skip]
  src/i18n/locales/bg.json
Labels: none

New translations en.json (Catalan) [ci skip]
  src/i18n/locales/ca.json
Labels: none

New translations en.json (Czech) [ci skip]
  src/i18n/locales/cs.json
Labels: none

New translations en.json (Danish) [ci skip]
  src/i18n/locales/da.json
Labels: none

New translations en.json (German) [ci skip]
  src/i18n/locales/de.json
Labels: none

New translations en.json (Greek) [ci skip]
  src/i18n/locales/el.json
Labels: none

New translations en.json (Basque) [ci skip]
  src/i18n/locales/eu.json
Labels: none

New translations en.json (Finnish) [ci skip]
  src/i18n/locales/fi.json
Labels: none

New translations en.json (Irish) [ci skip]
  src/i18n/locales/ga.json
Labels: none

New translations en.json (Gujarati) [ci skip]
  src/i18n/locales/gu.json
Labels: none

New translations en.json (Hebrew) [ci skip]
  src/i18n/locales/he.json
Labels: none

New translations en.json (Hungarian) [ci skip]
  src/i18n/locales/hu.json
Labels: none

New translations en.json (Armenian) [ci skip]
  src/i18n/locales/hy.json
Labels: none

New translations en.json (Japanese) [ci skip]
  src/i18n/locales/ja.json
Labels: none

New translations en.json (Georgian) [ci skip]
  src/i18n/locales/ka.json
Labels: none
