Repository openfoodfacts/open-prices-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, Price addition, Brands, üìç Locations:, ü•´ Product page, üîç Search, Stats, User, User dashboard, ‚öôÔ∏è Settings, Action menus, Translations

.github/labeler.yml:

# For reference, please look at https://github.com/actions/labeler

GitHub Actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

Price addition:
- changed-files:
  - any-glob-to-any-file: 'src/views/AddPriceHome.vue'
  - any-glob-to-any-file: 'src/views/AddPriceSingle.vue'
  - any-glob-to-any-file: 'src/views/AddPriceMultiple.vue'

Brands:
- changed-files:
  - any-glob-to-any-file: 'src/views/BrandDetail.vue'

üìç Locations::
- changed-files:
  - any-glob-to-any-file: 'src/views/LocationList.vue'
  - any-glob-to-any-file: 'src/views/LocationDetail.vue'

ü•´ Product page:
- changed-files:
  - any-glob-to-any-file: 'src/views/ProductList.vue'
  - any-glob-to-any-file: 'src/views/ProductDetail.vue'

üîç Search:
- changed-files:
  - any-glob-to-any-file: 'src/views/Search.vue'

Stats:
- changed-files:
  - any-glob-to-any-file: 'src/views/Stats.vue'

User:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserList.vue'
  - any-glob-to-any-file: 'src/views/UserDetail.vue'

User dashboard:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserDashboard*.vue'

‚öôÔ∏è Settings:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserSettings.vue'

Action menus:
- changed-files:
  - any-glob-to-any-file: 'src/components/*ActionMenuButton.vue'

Translations:
- changed-files:
  - any-glob-to-any-file: 'src/i18n/**/*'

New translations en.json (Venetian) [ci skip]
  src/i18n/locales/vec.json
Labels: Translations

New translations en.json (Southern Sami) [ci skip]
  src/i18n/locales/sma.json
Labels: Translations

New translations en.json (Akan, Twi) [ci skip]
  src/i18n/locales/tw.json
Labels: Translations

New translations en.json (Talossan) [ci skip]
  src/i18n/locales/tzl.json
Labels: Translations

New translations en.json (Zeelandic) [ci skip]
  src/i18n/locales/zea.json
Labels: Translations

New translations en.json (Kabyle) [ci skip]
  src/i18n/locales/kab.json
Labels: Translations

New translations en.json (Urdu (India)) [ci skip]
  src/i18n/locales/ur.json
Labels: Translations

New translations en.json (LOLCAT) [ci skip]
  src/i18n/locales/lol.json
Labels: Translations

New translations en.json (Indonesian) [ci skip]
  src/i18n/locales/id.json
Labels: Translations

New translations en.json (Lithuanian) [ci skip]
  src/i18n/locales/lt.json
Labels: Translations

New translations en.json (Ukrainian) [ci skip]
  src/i18n/locales/uk.json
Labels: Translations

fix(prices): fix barcode display again in ProductCard. closes #823
  src/components/PriceCard.vue
  src/components/ProductCard.vue
Labels: none

chore(master): release 1.78.1
  CHANGELOG.md
Labels: none

chore(master): release 1.78.1 (#824)
  CHANGELOG.md
Labels: none

New translations en.json (German) [ci skip]
  src/i18n/locales/de.json
Labels: Translations

New translations en.json (Dutch, Belgium) [ci skip]
  src/i18n/locales/nl_BE.json
Labels: Translations

New translations en.json (Dutch) [ci skip]
  src/i18n/locales/nl_NL.json
Labels: Translations

refactor(api): bump default page_size to 100
  src/services/api.js
Labels: none

refactor(api): bump default page_size to 100 (#828)
  src/services/api.js
Labels: none

refactor(graph): add points, tooltip, autosize. ref #818
  src/components/PriceChart.vue
Labels: none

refactor(l10n): New Crowdin translations to review and merge (#825)
  src/i18n/locales/de.json
  src/i18n/locales/nl_BE.json
  src/i18n/locales/nl_NL.json
Labels: Translations

chore(master): release 1.78.2
  CHANGELOG.md
Labels: none

chore(master): release 1.78.2 (#829)
  CHANGELOG.md
Labels: none

New translations en.json (Portuguese, Brazilian) [ci skip]
  src/i18n/locales/pt_BR.json
Labels: Translations

New translations en.json (German) [ci skip]
  src/i18n/locales/de.json
Labels: Translations

refactor(api): bump back down API's default page_size to 20. ref #828
  src/services/api.js
Labels: none

utils: debounce function
  src/utils.js
Labels: none

Basic PriceList infinite scroll
  src/utils.js
  src/views/PriceList.vue
Labels: none

feat(prices): replace Load More with infinite scroll (#832)
  src/utils.js
  src/views/PriceList.vue
Labels: none

refactor(prices): hide progress-circular next to title. ref #832
  src/views/PriceList.vue
Labels: none

feat(list pages): replace load more with infinite scroll
  src/views/LocationList.vue
  src/views/PriceList.vue
  src/views/ProductList.vue
  src/views/UserList.vue
Labels: üìç Locations:, ü•´ Product page, User

feat(list pages): replace load more with infinite scroll (#833)
  src/views/LocationList.vue
  src/views/PriceList.vue
  src/views/ProductList.vue
  src/views/UserList.vue
Labels: üìç Locations:, ü•´ Product page, User

refactor(location search): Photon: restrict via API URL on shop & amenity
  src/services/api.js
Labels: none

Refactor
  src/services/api.js
Labels: none

refactor(location search): Photon: restrict via API URL on shop & amenity (#808)
  src/services/api.js
Labels: none

chore(master): release 1.79.0
  CHANGELOG.md
Labels: none

chore(master): release 1.79.0 (#831)
  CHANGELOG.md
Labels: none

fix(location search): fix Photon filtered search typo. ref #808
  src/services/api.js
Labels: none

chore(master): release 1.79.1
  CHANGELOG.md
Labels: none

chore(master): release 1.79.1 (#834)
  CHANGELOG.md
Labels: none
