Repository openfoodfacts/open-prices-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, Price addition, Brands, üìç Locations, ü•´ Product page, üîç Search, Stats, User, User dashboard, ‚öôÔ∏è Settings, Action menus

.github/labeler.yml:

# For reference, please look at https://github.com/actions/labeler

GitHub Actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

Price addition:
- changed-files:
  - any-glob-to-any-file: 'src/views/PriceAddHome.vue'
  - any-glob-to-any-file: 'src/views/PriceAddSingle.vue'
  - any-glob-to-any-file: 'src/views/PriceAddMultiple.vue'

Brands:
- changed-files:
  - any-glob-to-any-file: 'src/views/BrandDetail.vue'

üìç Locations:
- changed-files:
  - any-glob-to-any-file: 'src/views/LocationList.vue'
  - any-glob-to-any-file: 'src/views/LocationDetail.vue'

ü•´ Product page:
- changed-files:
  - any-glob-to-any-file: 'src/views/ProductList.vue'
  - any-glob-to-any-file: 'src/views/ProductDetail.vue'

üîç Search:
- changed-files:
  - any-glob-to-any-file: 'src/views/Search.vue'

Stats:
- changed-files:
  - any-glob-to-any-file: 'src/views/Stats.vue'

User:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserList.vue'
  - any-glob-to-any-file: 'src/views/UserDetail.vue'

User dashboard:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserDashboard*.vue'

‚öôÔ∏è Settings:
- changed-files:
  - any-glob-to-any-file: 'src/views/Settings.vue'

Action menus:
- changed-files:
  - any-glob-to-any-file: 'src/components/*ActionMenuButton.vue'

Translations:
- all:
  - changed-files:
    - any-glob-to-any-file: 'src/i18n/**/*'
    - all-globs-to-all-files: '!src/i18n/locales/en.json'

New translations en.json (Russian) [ci skip]
  src/i18n/locales/ru.json
Labels: none

New translations en.json (Russian) [ci skip]
  src/i18n/locales/ru.json
Labels: none

fix(Receipt Assistant): fix init the assistant with a proof_id
  src/views/ReceiptAssistant.vue
Labels: none

fix(Receipt Assistant): fix init the assistant with a proof_id (#1577)
  src/views/ReceiptAssistant.vue
Labels: none

refactor(Receipt Assistant): in the proof action menu, change the link to point to the right assistant
  src/components/PriceAddLink.vue
  src/components/ProofActionMenuButton.vue
Labels: Action menus

refactor(Receipt Assistant): in the proof action menu, change the link to point to the right assistant (#1579)
  src/components/PriceAddLink.vue
  src/components/ProofActionMenuButton.vue
Labels: Action menus

refactor(Proof detail): if the user is the receipt owner, display the quantity column
  src/components/CategoryCard.vue
  src/components/PriceAlreadyUploadedListCard.vue
  src/components/PriceInputRow.vue
  src/components/PriceTable.vue
  src/components/ProofActionMenuButton.vue
  src/components/ProofFooterRow.vue
  src/components/ProofUploadCard.vue
  src/views/ProofDetail.vue
Labels: Action menus

refactor(Proof detail): if the user is the receipt owner, display the quantity column (#1580)
  src/components/CategoryCard.vue
  src/components/PriceAlreadyUploadedListCard.vue
  src/components/PriceInputRow.vue
  src/components/PriceTable.vue
  src/components/ProofActionMenuButton.vue
  src/components/ProofFooterRow.vue
  src/components/ProofUploadCard.vue
  src/views/ProofDetail.vue
Labels: Action menus

refactor(Receipt Assistant): display the quantity column
  src/components/ReceiptTableCard.vue
Labels: none

more explicit
  src/components/ReceiptTableCard.vue
Labels: none

refactor(Receipt Assistant): display the quantity column (#1581)
  src/components/ReceiptTableCard.vue
Labels: none

refactor(Receipt Assistant): Take into account receipt_quantity in price total calculation
  src/components/PriceAlreadyUploadedListCard.vue
  src/components/ReceiptTableCard.vue
  src/utils.js
Labels: none

refactor(Receipt Assistant): Take into account receipt_quantity in price total calculation (#1582)
  src/components/PriceAlreadyUploadedListCard.vue
  src/components/ReceiptTableCard.vue
  src/utils.js
Labels: none

refactor(l10n): New Crowdin translations to review and merge (#1573)
  src/i18n/locales/he.json
  src/i18n/locales/ru.json
Labels: none

chore(main): release 1.136.3
  CHANGELOG.md
Labels: none

chore(main): release 1.136.3 (#1578)
  CHANGELOG.md
Labels: none

refactor(Steppers): last step (Actions): show actions as cards instead of buttons
  src/components/ProofUploadCard.vue
  src/views/PriceAddMultiple.vue
  src/views/ProofAddMultiple.vue
  src/views/ProofAddSingle.vue
Labels: Price addition

finish work in receipt & contribution assistants
  src/views/ContributionAssistant.vue
  src/views/ReceiptAssistant.vue
Labels: none

refactor(Steppers): last step (Actions): show actions as cards instead of buttons (#1583)
  src/components/ProofUploadCard.vue
  src/views/ContributionAssistant.vue
  src/views/PriceAddMultiple.vue
  src/views/ProofAddMultiple.vue
  src/views/ProofAddSingle.vue
  src/views/ReceiptAssistant.vue
Labels: Price addition

fix(Receipt Assistant): fix edition of product_name. fix remembering discount info
  src/components/ContributionAssistantPriceFormCard.vue
  src/components/ReceiptTableCard.vue
Labels: none

fix(Receipt Assistant): fix edition of product_name. fix remembering discount info (#1585)
  src/components/ContributionAssistantPriceFormCard.vue
  src/components/ReceiptTableCard.vue
Labels: none

chore(main): release 1.136.4
  CHANGELOG.md
Labels: none

chore(main): release 1.136.4 (#1584)
  CHANGELOG.md
Labels: none

New translations en.json (Turkish) [ci skip]
  src/i18n/locales/tr.json
Labels: none

New translations en.json (Swedish) [ci skip]
  src/i18n/locales/sv.json
Labels: none

New translations en.json (Swedish) [ci skip]
  src/i18n/locales/sv.json
Labels: none

New translations en.json (French) [ci skip]
  src/i18n/locales/fr.json
Labels: none

New translations en.json (Swedish) [ci skip]
  src/i18n/locales/sv.json
Labels: none

experiments page
  src/views/Experiments.vue
Labels: none

contribution & receipt assistant
  src/views/ContributionAssistant.vue
  src/views/ReceiptAssistant.vue
Labels: none

proof & price add
  src/views/PriceAddMultiple.vue
  src/views/ProofAddMultiple.vue
  src/views/ProofAddSingle.vue
Labels: Price addition

New translations en.json (French) [ci skip]
  src/i18n/locales/fr.json
Labels: none

refactor(Cards): add a right arrow when "simple" cards are clickable (#1588)
  src/views/ContributionAssistant.vue
  src/views/Experiments.vue
  src/views/PriceAddMultiple.vue
  src/views/ProofAddMultiple.vue
  src/views/ProofAddSingle.vue
  src/views/ReceiptAssistant.vue
Labels: Price addition

fix(Stats): remove reference to challenge_count being hardcoded. ref #1339
  src/views/Stats.vue
Labels: Stats

refactor(Stats): in the Challenge count card, add a link to the challenge page. ref #1339
  src/views/Stats.vue
Labels: Stats

chore(main): release 1.136.5
  CHANGELOG.md
Labels: none

chore(main): release 1.136.5 (#1590)
  CHANGELOG.md
Labels: none

New translations en.json (French) [ci skip]
  src/i18n/locales/fr.json
Labels: none

feat(PriceTags): UI support for new 'other' status (5)
  src/components/ContributionAssistantDrawCanvas.vue
  src/components/ContributionAssistantPriceFormCard.vue
  src/constants.js
  src/i18n/locales/en.json
Labels: none

refactor(ContributionAssistant): only fetch pricetags with predictions
  src/views/ContributionAssistant.vue
Labels: none
