Repository openfoodfacts/open-prices-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, Price addition, Brands, üìç Locations:, ü•´ Product page, üîç Search, Stats, User, User dashboard, ‚öôÔ∏è Settings, Action menus, Translations

New translations en.json (Sango) [ci skip]
  src/i18n/locales/sg.json
Labels: Translations

New translations en.json (Shona) [ci skip]
  src/i18n/locales/sn.json
Labels: Translations

New translations en.json (Tigrinya) [ci skip]
  src/i18n/locales/ti.json
Labels: Translations

New translations en.json (Sanskrit) [ci skip]
  src/i18n/locales/sa.json
Labels: Translations

New translations en.json (Seychellois Creole) [ci skip]
  src/i18n/locales/crs.json
Labels: Translations

New translations en.json (Venetian) [ci skip]
  src/i18n/locales/vec.json
Labels: Translations

New translations en.json (Southern Sami) [ci skip]
  src/i18n/locales/sma.json
Labels: Translations

New translations en.json (Akan, Twi) [ci skip]
  src/i18n/locales/tw.json
Labels: Translations

New translations en.json (Talossan) [ci skip]
  src/i18n/locales/tzl.json
Labels: Translations

New translations en.json (Zeelandic) [ci skip]
  src/i18n/locales/zea.json
Labels: Translations

New translations en.json (Kabyle) [ci skip]
  src/i18n/locales/kab.json
Labels: Translations

New translations en.json (Urdu (India)) [ci skip]
  src/i18n/locales/ur.json
Labels: Translations

New translations en.json (LOLCAT) [ci skip]
  src/i18n/locales/lol.json
Labels: Translations

chore(master): release 1.75.1
  CHANGELOG.md
Labels: none

chore(master): release 1.75.1 (#802)
  CHANGELOG.md
Labels: none

fix: show PriceCard only if price (to avoid errors on price.product)
  src/components/PriceDeleteConfirmationDialog.vue
  src/components/PriceEditDialog.vue
  src/views/PriceDetail.vue
Labels: none

fix(products): only show barcode on price add
  src/components/PriceCard.vue
  src/components/ProductCard.vue
  src/views/BrandDetail.vue
  src/views/CategoryDetail.vue
  src/views/ProductList.vue
  src/views/Search.vue
Labels: Brands, ü•´ Product page, üîç Search

chore(master): release 1.75.2
  CHANGELOG.md
Labels: none

chore(master): release 1.75.2 (#805)
  CHANGELOG.md
Labels: none

New translations en.json (Portuguese, Brazilian) [ci skip]
  src/i18n/locales/pt_BR.json
Labels: Translations

ci: Update github-projects.yml
  .github/workflows/github-projects.yml
Labels: GitHub Actions

New translations en.json (Portuguese, Brazilian) [ci skip]
  src/i18n/locales/pt_BR.json
Labels: Translations

UserCard: show location, product & proof counts
  src/components/PriceCountChip.vue
  src/components/UserCard.vue
  src/i18n/locales/en.json
Labels: Translations

Fix display in User detail page
  src/components/UserCard.vue
Labels: none

feat(users): show location, product & proof counts (#809)
  src/components/PriceCountChip.vue
  src/components/UserCard.vue
  src/i18n/locales/en.json
Labels: Translations

refactor(l10n): New Crowdin translations to review and merge (#807)
  src/i18n/locales/pt_BR.json
Labels: Translations

New translations en.json (Spanish) [ci skip]
  src/i18n/locales/es.json
Labels: Translations

New translations en.json (Portuguese, Brazilian) [ci skip]
  src/i18n/locales/pt_BR.json
Labels: Translations

New translations en.json (Italian) [ci skip]
  src/i18n/locales/it.json
Labels: Translations

New translations en.json (Dutch, Belgium) [ci skip]
  src/i18n/locales/nl_BE.json
Labels: Translations

New translations en.json (Romanian) [ci skip]
  src/i18n/locales/ro.json
Labels: Translations

New translations en.json (French) [ci skip]
  src/i18n/locales/fr.json
Labels: Translations

New translations en.json (Afrikaans) [ci skip]
  src/i18n/locales/af.json
Labels: Translations

New translations en.json (Arabic) [ci skip]
  src/i18n/locales/ar.json
Labels: Translations

New translations en.json (Belarusian) [ci skip]
  src/i18n/locales/be.json
Labels: Translations

New translations en.json (Bulgarian) [ci skip]
  src/i18n/locales/bg.json
Labels: Translations

New translations en.json (Catalan) [ci skip]
  src/i18n/locales/ca.json
Labels: Translations

New translations en.json (Czech) [ci skip]
  src/i18n/locales/cs.json
Labels: Translations

New translations en.json (Danish) [ci skip]
  src/i18n/locales/da.json
Labels: Translations

New translations en.json (German) [ci skip]
  src/i18n/locales/de.json
Labels: Translations

.github/labeler.yml:

# For reference, please look at https://github.com/actions/labeler

GitHub Actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

Price addition:
- changed-files:
  - any-glob-to-any-file: 'src/views/AddPriceHome.vue'
  - any-glob-to-any-file: 'src/views/AddPriceSingle.vue'
  - any-glob-to-any-file: 'src/views/AddPriceMultiple.vue'

Brands:
- changed-files:
  - any-glob-to-any-file: 'src/views/BrandDetail.vue'

üìç Locations::
- changed-files:
  - any-glob-to-any-file: 'src/views/LocationList.vue'
  - any-glob-to-any-file: 'src/views/LocationDetail.vue'

ü•´ Product page:
- changed-files:
  - any-glob-to-any-file: 'src/views/ProductList.vue'
  - any-glob-to-any-file: 'src/views/ProductDetail.vue'

üîç Search:
- changed-files:
  - any-glob-to-any-file: 'src/views/Search.vue'

Stats:
- changed-files:
  - any-glob-to-any-file: 'src/views/Stats.vue'

User:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserList.vue'
  - any-glob-to-any-file: 'src/views/UserDetail.vue'

User dashboard:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserDashboard*.vue'

‚öôÔ∏è Settings:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserSettings.vue'

Action menus:
- changed-files:
  - any-glob-to-any-file: 'src/components/*ActionMenuButton.vue'

Translations:
- changed-files:
  - any-glob-to-any-file: 'src/i18n/**/*'
