Repository openfoodfacts/open-prices-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, Price addition, Brands, üìç Locations:, ü•´ Product page, üîç Search, Stats, User, User dashboard, ‚öôÔ∏è Settings, Action menus, Translations

.github/labeler.yml:

# For reference, please look at https://github.com/actions/labeler

GitHub Actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

Price addition:
- changed-files:
  - any-glob-to-any-file: 'src/views/AddPriceHome.vue'
  - any-glob-to-any-file: 'src/views/AddPriceSingle.vue'
  - any-glob-to-any-file: 'src/views/AddPriceMultiple.vue'

Brands:
- changed-files:
  - any-glob-to-any-file: 'src/views/BrandDetail.vue'

üìç Locations::
- changed-files:
  - any-glob-to-any-file: 'src/views/LocationList.vue'
  - any-glob-to-any-file: 'src/views/LocationDetail.vue'

ü•´ Product page:
- changed-files:
  - any-glob-to-any-file: 'src/views/ProductList.vue'
  - any-glob-to-any-file: 'src/views/ProductDetail.vue'

üîç Search:
- changed-files:
  - any-glob-to-any-file: 'src/views/Search.vue'

Stats:
- changed-files:
  - any-glob-to-any-file: 'src/views/Stats.vue'

User:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserList.vue'
  - any-glob-to-any-file: 'src/views/UserDetail.vue'

User dashboard:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserDashboard*.vue'

‚öôÔ∏è Settings:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserSettings.vue'

Action menus:
- changed-files:
  - any-glob-to-any-file: 'src/components/*ActionMenuButton.vue'

Translations:
- changed-files:
  - any-glob-to-any-file: 'src/i18n/**/*'

New translations en.json (Kabyle) [ci skip]
  src/i18n/locales/kab.json
Labels: Translations

New translations en.json (Urdu (India)) [ci skip]
  src/i18n/locales/ur.json
Labels: Translations

New translations en.json (LOLCAT) [ci skip]
  src/i18n/locales/lol.json
Labels: Translations

New translations en.json (Haitian Creole) [ci skip]
  src/i18n/locales/ht.json
Labels: Translations

Update categoryId on route change
  src/views/CategoryDetail.vue
Labels: none

New translations en.json (Malagasy) [ci skip]
  src/i18n/locales/mg.json
Labels: Translations

New translations en.json (Haitian Creole) [ci skip]
  src/i18n/locales/ht.json
Labels: Translations

refactor(api): bump API's default page_size to 25 (instead of 20). ref #828
  src/services/api.js
Labels: none

New translations en.json (Malagasy) [ci skip]
  src/i18n/locales/mg.json
Labels: Translations

New translations en.json (Haitian Creole) [ci skip]
  src/i18n/locales/ht.json
Labels: Translations

Category detail: fix refresh when category changes
  src/views/CategoryDetail.vue
Labels: none

Brand detail: fix refresh when brand changes
  src/views/BrandDetail.vue
Labels: Brands

New LabelDetail page
  src/router.js
  src/views/LabelDetail.vue
Labels: none

Add link from dialog
  src/components/ProductLabelsDialog.vue
Labels: none

feat(label detail): new label detail page (#848)
  src/components/ProductLabelsDialog.vue
  src/router.js
  src/views/LabelDetail.vue
Labels: none

New LabelActionMenuButton component
  src/components/LabelActionMenuButton.vue
  src/components/OpenFoodFactsLink.vue
  src/i18n/locales/en.json
Labels: Action menus, Translations

New LabelCard component. Use in LabelDetail
  src/components/LabelCard.vue
  src/views/LabelDetail.vue
Labels: none

feat(label card): new label card with action menu (#849)
  src/components/LabelActionMenuButton.vue
  src/components/LabelCard.vue
  src/components/OpenFoodFactsLink.vue
  src/i18n/locales/en.json
  src/views/LabelDetail.vue
Labels: Action menus, Translations

Category detail: infinite scroll
  src/views/CategoryDetail.vue
  src/views/LocationList.vue
  src/views/PriceList.vue
  src/views/ProductList.vue
  src/views/UserList.vue
Labels: üìç Locations:, ü•´ Product page, User

Brand detail: infinite scroll
  src/views/BrandDetail.vue
Labels: Brands

Label detail: infinite scroll
  src/views/LabelDetail.vue
Labels: none

Location detail: infinite scroll
  src/views/LocationDetail.vue
Labels: üìç Locations:

Product detail: infinite scroll
  src/views/ProductDetail.vue
Labels: ü•´ Product page

Proof detail: infinite scroll
  src/views/ProofDetail.vue
Labels: none

User detail: infinite scroll
  src/views/UserDetail.vue
Labels: User

Date detail: infinite scroll
  src/views/DateDetail.vue
Labels: none

CountryCity detail: infinite scroll
  src/views/CountryCityDetail.vue
  src/views/CountryDetail.vue
Labels: none

feat(detail pages): replace load more with infinite scroll (#850)
  src/views/BrandDetail.vue
  src/views/CategoryDetail.vue
  src/views/CountryCityDetail.vue
  src/views/CountryDetail.vue
  src/views/DateDetail.vue
  src/views/LabelDetail.vue
  src/views/LocationDetail.vue
  src/views/LocationList.vue
  src/views/PriceList.vue
  src/views/ProductDetail.vue
  src/views/ProductList.vue
  src/views/ProofDetail.vue
  src/views/UserDetail.vue
  src/views/UserList.vue
Labels: Brands, üìç Locations:, ü•´ Product page, User

feat(dashboard): replace load more with infinite scroll
  src/views/CountryCityDetail.vue
  src/views/Home.vue
  src/views/LabelDetail.vue
  src/views/LocationDetail.vue
  src/views/LocationList.vue
  src/views/ProductDetail.vue
  src/views/ProductList.vue
  src/views/UserDashboardPriceList.vue
  src/views/UserDashboardProofList.vue
Labels: üìç Locations:, ü•´ Product page, User dashboard

feat(dashboard): replace load more with infinite scroll (#851)
  src/views/CountryCityDetail.vue
  src/views/Home.vue
  src/views/LabelDetail.vue
  src/views/LocationDetail.vue
  src/views/LocationList.vue
  src/views/ProductDetail.vue
  src/views/ProductList.vue
  src/views/UserDashboardPriceList.vue
  src/views/UserDashboardProofList.vue
Labels: üìç Locations:, ü•´ Product page, User dashboard

New translations en.json (Spanish) [ci skip]
  src/i18n/locales/es.json
Labels: Translations

New translations en.json (Portuguese, Brazilian) [ci skip]
  src/i18n/locales/pt_BR.json
Labels: Translations

New translations en.json (Italian) [ci skip]
  src/i18n/locales/it.json
Labels: Translations

New translations en.json (Dutch, Belgium) [ci skip]
  src/i18n/locales/nl_BE.json
Labels: Translations

New translations en.json (Romanian) [ci skip]
  src/i18n/locales/ro.json
Labels: Translations

New translations en.json (French) [ci skip]
  src/i18n/locales/fr.json
Labels: Translations

New translations en.json (Afrikaans) [ci skip]
  src/i18n/locales/af.json
Labels: Translations

New translations en.json (Arabic) [ci skip]
  src/i18n/locales/ar.json
Labels: Translations

New translations en.json (Belarusian) [ci skip]
  src/i18n/locales/be.json
Labels: Translations

New translations en.json (Bulgarian) [ci skip]
  src/i18n/locales/bg.json
Labels: Translations
