Repository openfoodfacts/open-prices-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, Price addition, Brands, üìç Locations, ü•´ Product page, üîç Search, Stats, User, User dashboard, ‚öôÔ∏è Settings, Action menus

New translations en.json (Sindhi) [ci skip]
  src/i18n/locales/sd.json
Labels: none

New translations en.json (Sango) [ci skip]
  src/i18n/locales/sg.json
Labels: none

New translations en.json (Shona) [ci skip]
  src/i18n/locales/sn.json
Labels: none

New translations en.json (Tigrinya) [ci skip]
  src/i18n/locales/ti.json
Labels: none

New translations en.json (Sanskrit) [ci skip]
  src/i18n/locales/sa.json
Labels: none

New translations en.json (Akan, Twi) [ci skip]
  src/i18n/locales/tw.json
Labels: none

New translations en.json (Urdu (India)) [ci skip]
  src/i18n/locales/ur.json
Labels: none

New translations en.json (Karakalpak) [ci skip]
  src/i18n/locales/kaa.json
Labels: none

New translations en.json (Portuguese) [ci skip]
  src/i18n/locales/pt_PT.json
Labels: none

New translations en.json (Ukrainian) [ci skip]
  src/i18n/locales/uk.json
Labels: none

New translations en.json (Tamil) [ci skip]
  src/i18n/locales/ta.json
Labels: none

New translations en.json (German) [ci skip]
  src/i18n/locales/de.json
Labels: none

New translations en.json (Hebrew) [ci skip]
  src/i18n/locales/he.json
Labels: none

New translations en.json (Hebrew) [ci skip]
  src/i18n/locales/he.json
Labels: none

New translations en.json (French) [ci skip]
  src/i18n/locales/fr.json
Labels: none

New translations en.json (Hebrew) [ci skip]
  src/i18n/locales/he.json
Labels: none

New translations en.json (Dutch, Belgium) [ci skip]
  src/i18n/locales/nl_BE.json
Labels: none

New translations en.json (Dutch) [ci skip]
  src/i18n/locales/nl_NL.json
Labels: none

build: rename main branch from 'master' to 'main'
  .github/workflows/deploy.yml
  .github/workflows/release-please.yml
  README.md
Labels: GitHub Actions

build: rename main branch from 'master' to 'main' (#1421)
  .github/workflows/deploy.yml
  .github/workflows/release-please.yml
  README.md
Labels: GitHub Actions

refactor(Stats): new unique country stats (in Misc)
  src/views/Stats.vue
Labels: Stats

refactor(Stats): new unique country stats (in Misc) (#1423)
  src/views/Stats.vue
Labels: Stats

refactor(Stats): new unique year count stat (in Misc)
  src/i18n/locales/en.json
  src/views/Stats.vue
Labels: Stats

refactor(Stats): new unique year count stat (in Misc) (#1424)
  src/i18n/locales/en.json
  src/views/Stats.vue
Labels: Stats

New translations en.json (Romanian) [ci skip]
  src/i18n/locales/ro.json
Labels: none

New translations en.json (French) [ci skip]
  src/i18n/locales/fr.json
Labels: none

New translations en.json (Spanish) [ci skip]
  src/i18n/locales/es.json
Labels: none

New translations en.json (Arabic) [ci skip]
  src/i18n/locales/ar.json
Labels: none

New translations en.json (Belarusian) [ci skip]
  src/i18n/locales/be.json
Labels: none

New translations en.json (Bulgarian) [ci skip]
  src/i18n/locales/bg.json
Labels: none

New translations en.json (Catalan) [ci skip]
  src/i18n/locales/ca.json
Labels: none

New translations en.json (Czech) [ci skip]
  src/i18n/locales/cs.json
Labels: none

New translations en.json (Danish) [ci skip]
  src/i18n/locales/da.json
Labels: none

New translations en.json (German) [ci skip]
  src/i18n/locales/de.json
Labels: none

New translations en.json (Greek) [ci skip]
  src/i18n/locales/el.json
Labels: none

New translations en.json (Basque) [ci skip]
  src/i18n/locales/eu.json
Labels: none

New translations en.json (Finnish) [ci skip]
  src/i18n/locales/fi.json
Labels: none

New translations en.json (Irish) [ci skip]
  src/i18n/locales/ga.json
Labels: none

New translations en.json (Gujarati) [ci skip]
  src/i18n/locales/gu.json
Labels: none

New translations en.json (Hebrew) [ci skip]
  src/i18n/locales/he.json
Labels: none

.github/labeler.yml:

# For reference, please look at https://github.com/actions/labeler

GitHub Actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

Price addition:
- changed-files:
  - any-glob-to-any-file: 'src/views/PriceAddHome.vue'
  - any-glob-to-any-file: 'src/views/PriceAddSingle.vue'
  - any-glob-to-any-file: 'src/views/PriceAddMultiple.vue'

Brands:
- changed-files:
  - any-glob-to-any-file: 'src/views/BrandDetail.vue'

üìç Locations:
- changed-files:
  - any-glob-to-any-file: 'src/views/LocationList.vue'
  - any-glob-to-any-file: 'src/views/LocationDetail.vue'

ü•´ Product page:
- changed-files:
  - any-glob-to-any-file: 'src/views/ProductList.vue'
  - any-glob-to-any-file: 'src/views/ProductDetail.vue'

üîç Search:
- changed-files:
  - any-glob-to-any-file: 'src/views/Search.vue'

Stats:
- changed-files:
  - any-glob-to-any-file: 'src/views/Stats.vue'

User:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserList.vue'
  - any-glob-to-any-file: 'src/views/UserDetail.vue'

User dashboard:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserDashboard*.vue'

‚öôÔ∏è Settings:
- changed-files:
  - any-glob-to-any-file: 'src/views/Settings.vue'

Action menus:
- changed-files:
  - any-glob-to-any-file: 'src/components/*ActionMenuButton.vue'

Translations:
- all:
  - changed-files:
    - any-glob-to-any-file: 'src/i18n/**/*'
    - all-globs-to-all-files: '!src/i18n/locales/en.json'
