Repository openfoodfacts/open-prices-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, Price addition, Brands, üìç Locations:, ü•´ Product page, üîç Search, Stats, User, User dashboard, ‚öôÔ∏è Settings, Action menus, Translations

Update packages
  package.json
  yarn.lock
Labels: none

Fix proof upload error (vuetify upgrade)
  src/components/PriceInputRow.vue
  src/components/ProofInputRow.vue
Labels: none

chore(deps): Update packages (vuetify v3.7.0) (#782)
  package.json
  src/components/PriceInputRow.vue
  src/components/ProofInputRow.vue
  yarn.lock
Labels: none

chore(master): release 1.74.4
  CHANGELOG.md
Labels: none

New translations en.json (Estonian) [ci skip]
  src/i18n/locales/et.json
Labels: Translations

New translations en.json (Indonesian) [ci skip]
  src/i18n/locales/id.json
Labels: Translations

chore(master): release 1.74.4 (#781)
  CHANGELOG.md
Labels: none

New PriceDetail page
  src/router.js
  src/services/api.js
  src/views/PriceDetail.vue
Labels: none

Add link in PriceActionMenuButton
  src/components/PriceActionMenuButton.vue
Labels: Action menus

ci: Create github-projects.yml
  .github/workflows/github-projects.yml
Labels: GitHub Actions

ci: Update github-projects.yml
  .github/workflows/github-projects.yml
Labels: GitHub Actions

New translations en.json (Portuguese) [ci skip]
  src/i18n/locales/pt_PT.json
Labels: Translations

ci: Update github-projects.yml
  .github/workflows/github-projects.yml
Labels: GitHub Actions

ci: Update github-projects.yml
  .github/workflows/github-projects.yml
Labels: GitHub Actions

Add share action
  src/components/PriceActionMenuButton.vue
  src/i18n/locales/en.json
  src/views/BrandDetail.vue
  src/views/CategoryDetail.vue
  src/views/LocationDetail.vue
  src/views/PriceDetail.vue
Labels: Brands, üìç Locations:, Action menus, Translations

feat(prices): new Price detail page (#797)
  src/components/PriceActionMenuButton.vue
  src/i18n/locales/en.json
  src/router.js
  src/services/api.js
  src/views/BrandDetail.vue
  src/views/CategoryDetail.vue
  src/views/LocationDetail.vue
  src/views/PriceDetail.vue
Labels: Brands, üìç Locations:, Action menus, Translations

New translations en.json (Spanish) [ci skip]
  src/i18n/locales/es.json
Labels: Translations

New translations en.json (Portuguese, Brazilian) [ci skip]
  src/i18n/locales/pt_BR.json
Labels: Translations

New translations en.json (Italian) [ci skip]
  src/i18n/locales/it.json
Labels: Translations

New translations en.json (Dutch, Belgium) [ci skip]
  src/i18n/locales/nl_BE.json
Labels: Translations

New translations en.json (Romanian) [ci skip]
  src/i18n/locales/ro.json
Labels: Translations

New translations en.json (French) [ci skip]
  src/i18n/locales/fr.json
Labels: Translations

New translations en.json (Afrikaans) [ci skip]
  src/i18n/locales/af.json
Labels: Translations

New translations en.json (Arabic) [ci skip]
  src/i18n/locales/ar.json
Labels: Translations

New translations en.json (Belarusian) [ci skip]
  src/i18n/locales/be.json
Labels: Translations

New translations en.json (Bulgarian) [ci skip]
  src/i18n/locales/bg.json
Labels: Translations

New translations en.json (Catalan) [ci skip]
  src/i18n/locales/ca.json
Labels: Translations

New translations en.json (Czech) [ci skip]
  src/i18n/locales/cs.json
Labels: Translations

New translations en.json (Danish) [ci skip]
  src/i18n/locales/da.json
Labels: Translations

New translations en.json (German) [ci skip]
  src/i18n/locales/de.json
Labels: Translations

New translations en.json (Greek) [ci skip]
  src/i18n/locales/el.json
Labels: Translations

New translations en.json (Basque) [ci skip]
  src/i18n/locales/eu.json
Labels: Translations

New translations en.json (Finnish) [ci skip]
  src/i18n/locales/fi.json
Labels: Translations

New translations en.json (Irish) [ci skip]
  src/i18n/locales/ga.json
Labels: Translations

New translations en.json (Gujarati) [ci skip]
  src/i18n/locales/gu.json
Labels: Translations

New translations en.json (Hebrew) [ci skip]
  src/i18n/locales/he.json
Labels: Translations

New translations en.json (Hungarian) [ci skip]
  src/i18n/locales/hu.json
Labels: Translations

New translations en.json (Armenian) [ci skip]
  src/i18n/locales/hy.json
Labels: Translations

New translations en.json (Japanese) [ci skip]
  src/i18n/locales/ja.json
Labels: Translations

New translations en.json (Georgian) [ci skip]
  src/i18n/locales/ka.json
Labels: Translations

.github/labeler.yml:

# For reference, please look at https://github.com/actions/labeler

GitHub Actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

Price addition:
- changed-files:
  - any-glob-to-any-file: 'src/views/AddPriceHome.vue'
  - any-glob-to-any-file: 'src/views/AddPriceSingle.vue'
  - any-glob-to-any-file: 'src/views/AddPriceMultiple.vue'

Brands:
- changed-files:
  - any-glob-to-any-file: 'src/views/BrandDetail.vue'

üìç Locations::
- changed-files:
  - any-glob-to-any-file: 'src/views/LocationList.vue'
  - any-glob-to-any-file: 'src/views/LocationDetail.vue'

ü•´ Product page:
- changed-files:
  - any-glob-to-any-file: 'src/views/ProductList.vue'
  - any-glob-to-any-file: 'src/views/ProductDetail.vue'

üîç Search:
- changed-files:
  - any-glob-to-any-file: 'src/views/Search.vue'

Stats:
- changed-files:
  - any-glob-to-any-file: 'src/views/Stats.vue'

User:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserList.vue'
  - any-glob-to-any-file: 'src/views/UserDetail.vue'

User dashboard:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserDashboard*.vue'

‚öôÔ∏è Settings:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserSettings.vue'

Action menus:
- changed-files:
  - any-glob-to-any-file: 'src/components/*ActionMenuButton.vue'

Translations:
- changed-files:
  - any-glob-to-any-file: 'src/i18n/**/*'
