Repository openfoodfacts/open-prices-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, Price addition, Brands, üìç Locations:, ü•´ Product page, üîç Search, Stats, User, User dashboard, ‚öôÔ∏è Settings, Action menus, Translations

.github/labeler.yml:

# For reference, please look at https://github.com/actions/labeler

GitHub Actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

Price addition:
- changed-files:
  - any-glob-to-any-file: 'src/views/AddPriceHome.vue'
  - any-glob-to-any-file: 'src/views/AddPriceSingle.vue'
  - any-glob-to-any-file: 'src/views/AddPriceMultiple.vue'

Brands:
- changed-files:
  - any-glob-to-any-file: 'src/views/BrandDetail.vue'

üìç Locations::
- changed-files:
  - any-glob-to-any-file: 'src/views/LocationList.vue'
  - any-glob-to-any-file: 'src/views/LocationDetail.vue'

ü•´ Product page:
- changed-files:
  - any-glob-to-any-file: 'src/views/ProductList.vue'
  - any-glob-to-any-file: 'src/views/ProductDetail.vue'

üîç Search:
- changed-files:
  - any-glob-to-any-file: 'src/views/Search.vue'

Stats:
- changed-files:
  - any-glob-to-any-file: 'src/views/Stats.vue'

User:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserList.vue'
  - any-glob-to-any-file: 'src/views/UserDetail.vue'

User dashboard:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserDashboard*.vue'

‚öôÔ∏è Settings:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserSettings.vue'

Action menus:
- changed-files:
  - any-glob-to-any-file: 'src/components/*ActionMenuButton.vue'

Translations:
- changed-files:
  - any-glob-to-any-file: 'src/i18n/**/*'

New translations en.json (Southern Sami) [ci skip]
  src/i18n/locales/sma.json
Labels: Translations

New translations en.json (Akan, Twi) [ci skip]
  src/i18n/locales/tw.json
Labels: Translations

New translations en.json (Talossan) [ci skip]
  src/i18n/locales/tzl.json
Labels: Translations

New translations en.json (Zeelandic) [ci skip]
  src/i18n/locales/zea.json
Labels: Translations

New translations en.json (Kabyle) [ci skip]
  src/i18n/locales/kab.json
Labels: Translations

New translations en.json (Urdu (India)) [ci skip]
  src/i18n/locales/ur.json
Labels: Translations

New translations en.json (LOLCAT) [ci skip]
  src/i18n/locales/lol.json
Labels: Translations

refactor: homogenise getShareLinkUrl. Add missing data-name
  src/components/LocationActionMenuButton.vue
  src/components/LocationCard.vue
  src/components/PriceActionMenuButton.vue
  src/components/ProductActionMenuButton.vue
  src/components/ProductCard.vue
  src/components/ProofCard.vue
  src/components/UserActionMenuButton.vue
  src/components/UserCard.vue
  src/views/UserDashboardPriceList.vue
Labels: User dashboard, Action menus

chore: fix deployment
  .github/workflows/deploy.yml
Labels: GitHub Actions

chore: fix deployment (#800)
  .github/workflows/deploy.yml
Labels: GitHub Actions

chore(master): release 1.75.0
  CHANGELOG.md
Labels: none

chore(master): release 1.75.0 (#799)
  CHANGELOG.md
Labels: none

New translations en.json (Czech) [ci skip]
  src/i18n/locales/cs.json
Labels: Translations

New translations en.json (Italian) [ci skip]
  src/i18n/locales/it.json
Labels: Translations

ProofActionMenu: add Details action
  src/components/ProofActionMenuButton.vue
Labels: Action menus

refactor(proofs): add a Proof Action to the details page (#801)
  src/components/ProofActionMenuButton.vue
Labels: Action menus

refactor(proofs): ProofActionMenu: Add menu title
  src/components/ProofActionMenuButton.vue
Labels: Action menus

refactor(products): ProductActionMenu: Add menu title
  src/components/ProductActionMenuButton.vue
Labels: Action menus

refactor: *ActionMenu: Add menu title
  src/components/BrandActionMenuButton.vue
  src/components/CategoryActionMenuButton.vue
  src/components/DateActionMenuButton.vue
  src/components/LocationActionMenuButton.vue
  src/components/UserActionMenuButton.vue
  src/i18n/locales/en.json
Labels: Action menus, Translations

fix: show ProductCard, PriceCard & ProofCard only if object. Avoids errors
  src/components/PriceCard.vue
  src/components/ProductCard.vue
  src/components/ProofCard.vue
  src/views/PriceDetail.vue
Labels: none

refactor(products): ProductActionMenu: add action to details page
  src/components/PriceActionMenuButton.vue
  src/components/ProductActionMenuButton.vue
Labels: Action menus

refactor: *ActionMenus: remove dividers
  src/components/BrandActionMenuButton.vue
  src/components/CategoryActionMenuButton.vue
  src/components/LocationActionMenuButton.vue
  src/components/ProofActionMenuButton.vue
  src/components/UserActionMenuButton.vue
Labels: Action menus

refactor(price add): always show barcode of already added products
  src/components/PriceCard.vue
  src/views/AddPriceMultiple.vue
Labels: Price addition

New translations en.json (Spanish) [ci skip]
  src/i18n/locales/es.json
Labels: Translations

New translations en.json (Portuguese, Brazilian) [ci skip]
  src/i18n/locales/pt_BR.json
Labels: Translations

New translations en.json (Italian) [ci skip]
  src/i18n/locales/it.json
Labels: Translations

New translations en.json (Dutch, Belgium) [ci skip]
  src/i18n/locales/nl_BE.json
Labels: Translations

New translations en.json (Romanian) [ci skip]
  src/i18n/locales/ro.json
Labels: Translations

New translations en.json (French) [ci skip]
  src/i18n/locales/fr.json
Labels: Translations

New translations en.json (Afrikaans) [ci skip]
  src/i18n/locales/af.json
Labels: Translations

New translations en.json (Arabic) [ci skip]
  src/i18n/locales/ar.json
Labels: Translations

New translations en.json (Belarusian) [ci skip]
  src/i18n/locales/be.json
Labels: Translations

New translations en.json (Bulgarian) [ci skip]
  src/i18n/locales/bg.json
Labels: Translations

New translations en.json (Catalan) [ci skip]
  src/i18n/locales/ca.json
Labels: Translations

New translations en.json (Czech) [ci skip]
  src/i18n/locales/cs.json
Labels: Translations

New translations en.json (Danish) [ci skip]
  src/i18n/locales/da.json
Labels: Translations

New translations en.json (German) [ci skip]
  src/i18n/locales/de.json
Labels: Translations

New translations en.json (Greek) [ci skip]
  src/i18n/locales/el.json
Labels: Translations

New translations en.json (Basque) [ci skip]
  src/i18n/locales/eu.json
Labels: Translations

New translations en.json (Finnish) [ci skip]
  src/i18n/locales/fi.json
Labels: Translations
