Repository openfoodfacts/open-prices-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, Price addition, Brands, üìç Locations, ü•´ Product page, üîç Search, Stats, User, User dashboard, ‚öôÔ∏è Settings, Action menus

.github/labeler.yml:

# For reference, please look at https://github.com/actions/labeler

GitHub Actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

Price addition:
- changed-files:
  - any-glob-to-any-file: 'src/views/PriceAddHome.vue'
  - any-glob-to-any-file: 'src/views/PriceAddSingle.vue'
  - any-glob-to-any-file: 'src/views/PriceAddMultiple.vue'

Brands:
- changed-files:
  - any-glob-to-any-file: 'src/views/BrandDetail.vue'

üìç Locations:
- changed-files:
  - any-glob-to-any-file: 'src/views/LocationList.vue'
  - any-glob-to-any-file: 'src/views/LocationDetail.vue'

ü•´ Product page:
- changed-files:
  - any-glob-to-any-file: 'src/views/ProductList.vue'
  - any-glob-to-any-file: 'src/views/ProductDetail.vue'

üîç Search:
- changed-files:
  - any-glob-to-any-file: 'src/views/Search.vue'

Stats:
- changed-files:
  - any-glob-to-any-file: 'src/views/Stats.vue'

User:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserList.vue'
  - any-glob-to-any-file: 'src/views/UserDetail.vue'

User dashboard:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserDashboard*.vue'

‚öôÔ∏è Settings:
- changed-files:
  - any-glob-to-any-file: 'src/views/Settings.vue'

Action menus:
- changed-files:
  - any-glob-to-any-file: 'src/components/*ActionMenuButton.vue'

Translations:
- all:
  - changed-files:
    - any-glob-to-any-file: 'src/i18n/**/*'
    - all-globs-to-all-files: '!src/i18n/locales/en.json'

chore(main): release 1.132.1 (#1528)
  CHANGELOG.md
Labels: none

New translations en.json (Chinese Simplified) [ci skip]
  src/i18n/locales/zh_CN.json
Labels: none

refactor(Proofs): make LocationProofList, UserDashboardProofList & UserProofList views more generic
  src/views/LocationProofList.vue
  src/views/UserDashboardProofList.vue
  src/views/UserProofList.vue
Labels: User dashboard

feat(Challenges): new page to list all of the challenge's proofs
  src/router.js
  src/views/ChallengeProofList.vue
Labels: none

feat(Challenges): new page to list all of the challenge's proofs (#1537)
  src/router.js
  src/views/ChallengeProofList.vue
Labels: none

refactor(Prices): make views listing prices more generic
  src/views/CurrencyDetail.vue
  src/views/DateDetail.vue
  src/views/LocationDetail.vue
  src/views/PriceList.vue
  src/views/ProductDetail.vue
  src/views/ProofDetail.vue
  src/views/UserDashboardPriceList.vue
  src/views/UserDashboardProofList.vue
  src/views/UserDetail.vue
Labels: üìç Locations, ü•´ Product page, User, User dashboard

feat(Challenges): new page to list all of the challenge's prices
  src/i18n/locales/en.json
  src/router.js
  src/views/ChallengePriceList.vue
Labels: none

feat(Challenges): new page to list all of the challenge's prices (#1538)
  src/i18n/locales/en.json
  src/router.js
  src/views/ChallengePriceList.vue
Labels: none

refactor(Challenges): make total proof & price stat counts clickable
  src/components/ChallengeTakePicturesCard.vue
  src/components/ChallengeValidateCard.vue
Labels: none

refactor(Challenges): make total proof & price stat counts clickable (#1539)
  src/components/ChallengeTakePicturesCard.vue
  src/components/ChallengeValidateCard.vue
Labels: none

New translations en.json (Romanian) [ci skip]
  src/i18n/locales/ro.json
Labels: none

New translations en.json (French) [ci skip]
  src/i18n/locales/fr.json
Labels: none

New translations en.json (Spanish) [ci skip]
  src/i18n/locales/es.json
Labels: none

New translations en.json (Arabic) [ci skip]
  src/i18n/locales/ar.json
Labels: none

New translations en.json (Belarusian) [ci skip]
  src/i18n/locales/be.json
Labels: none

New translations en.json (Bulgarian) [ci skip]
  src/i18n/locales/bg.json
Labels: none

New translations en.json (Catalan) [ci skip]
  src/i18n/locales/ca.json
Labels: none

New translations en.json (Czech) [ci skip]
  src/i18n/locales/cs.json
Labels: none

New translations en.json (Danish) [ci skip]
  src/i18n/locales/da.json
Labels: none

New translations en.json (German) [ci skip]
  src/i18n/locales/de.json
Labels: none

New translations en.json (Greek) [ci skip]
  src/i18n/locales/el.json
Labels: none

New translations en.json (Basque) [ci skip]
  src/i18n/locales/eu.json
Labels: none

New translations en.json (Finnish) [ci skip]
  src/i18n/locales/fi.json
Labels: none

New translations en.json (Irish) [ci skip]
  src/i18n/locales/ga.json
Labels: none

New translations en.json (Gujarati) [ci skip]
  src/i18n/locales/gu.json
Labels: none

New translations en.json (Hebrew) [ci skip]
  src/i18n/locales/he.json
Labels: none

New translations en.json (Hungarian) [ci skip]
  src/i18n/locales/hu.json
Labels: none

New translations en.json (Armenian) [ci skip]
  src/i18n/locales/hy.json
Labels: none

New translations en.json (Italian) [ci skip]
  src/i18n/locales/it.json
Labels: none

New translations en.json (Japanese) [ci skip]
  src/i18n/locales/ja.json
Labels: none

New translations en.json (Georgian) [ci skip]
  src/i18n/locales/ka.json
Labels: none

New translations en.json (Korean) [ci skip]
  src/i18n/locales/ko.json
Labels: none

New translations en.json (Kurdish) [ci skip]
  src/i18n/locales/kmr_TR.json
Labels: none

New translations en.json (Lithuanian) [ci skip]
  src/i18n/locales/lt.json
Labels: none

New translations en.json (Mongolian) [ci skip]
  src/i18n/locales/mn.json
Labels: none

New translations en.json (Dutch) [ci skip]
  src/i18n/locales/nl_NL.json
Labels: none

New translations en.json (Norwegian) [ci skip]
  src/i18n/locales/no.json
Labels: none

New translations en.json (Punjabi) [ci skip]
  src/i18n/locales/pa.json
Labels: none

New translations en.json (Polish) [ci skip]
  src/i18n/locales/pl.json
Labels: none

New translations en.json (Portuguese) [ci skip]
  src/i18n/locales/pt_PT.json
Labels: none
