Repository openfoodfacts/open-prices-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, Price addition, Brands, üìç Locations:, ü•´ Product page, üîç Search, Stats, User, User dashboard, ‚öôÔ∏è Settings, Action menus, Translations

New translations en.json (Talossan) [ci skip]
  src/i18n/locales/tzl.json
Labels: Translations

New translations en.json (Zeelandic) [ci skip]
  src/i18n/locales/zea.json
Labels: Translations

New translations en.json (Kabyle) [ci skip]
  src/i18n/locales/kab.json
Labels: Translations

New translations en.json (Urdu (India)) [ci skip]
  src/i18n/locales/ur.json
Labels: Translations

New translations en.json (LOLCAT) [ci skip]
  src/i18n/locales/lol.json
Labels: Translations

New translations en.json (French) [ci skip]
  src/i18n/locales/fr.json
Labels: Translations

New translations en.json (Ukrainian) [ci skip]
  src/i18n/locales/uk.json
Labels: Translations

chore(master): release 1.77.0
  CHANGELOG.md
Labels: none

New translations en.json (Hebrew) [ci skip]
  src/i18n/locales/he.json
Labels: Translations

chore(master): release 1.77.0 (#813)
  CHANGELOG.md
Labels: none

New translations en.json (Tamil) [ci skip]
  src/i18n/locales/ta.json
Labels: Translations

Install vega packages
  package.json
  yarn.lock
Labels: none

Basic working PriceChart component
  src/components/PriceChart.vue
  src/constants.js
  src/i18n/locales/en.json
  src/views/ProductDetail.vue
Labels: ü•´ Product page, Translations

Show point if only 1 price
  src/components/PriceChart.vue
Labels: none

feat(products): basic price graph (#818)
  package.json
  src/components/PriceChart.vue
  src/constants.js
  src/i18n/locales/en.json
  src/views/ProductDetail.vue
  yarn.lock
Labels: ü•´ Product page, Translations

chore(master): release 1.78.0
  CHANGELOG.md
Labels: none

chore(master): release 1.78.0 (#819)
  CHANGELOG.md
Labels: none

New translations en.json (Spanish) [ci skip]
  src/i18n/locales/es.json
Labels: Translations

New translations en.json (Portuguese, Brazilian) [ci skip]
  src/i18n/locales/pt_BR.json
Labels: Translations

New translations en.json (Italian) [ci skip]
  src/i18n/locales/it.json
Labels: Translations

New translations en.json (Dutch, Belgium) [ci skip]
  src/i18n/locales/nl_BE.json
Labels: Translations

New translations en.json (Romanian) [ci skip]
  src/i18n/locales/ro.json
Labels: Translations

New translations en.json (French) [ci skip]
  src/i18n/locales/fr.json
Labels: Translations

New translations en.json (Afrikaans) [ci skip]
  src/i18n/locales/af.json
Labels: Translations

New translations en.json (Arabic) [ci skip]
  src/i18n/locales/ar.json
Labels: Translations

New translations en.json (Belarusian) [ci skip]
  src/i18n/locales/be.json
Labels: Translations

New translations en.json (Bulgarian) [ci skip]
  src/i18n/locales/bg.json
Labels: Translations

New translations en.json (Catalan) [ci skip]
  src/i18n/locales/ca.json
Labels: Translations

New translations en.json (Czech) [ci skip]
  src/i18n/locales/cs.json
Labels: Translations

New translations en.json (Danish) [ci skip]
  src/i18n/locales/da.json
Labels: Translations

New translations en.json (German) [ci skip]
  src/i18n/locales/de.json
Labels: Translations

New translations en.json (Greek) [ci skip]
  src/i18n/locales/el.json
Labels: Translations

New translations en.json (Basque) [ci skip]
  src/i18n/locales/eu.json
Labels: Translations

New translations en.json (Finnish) [ci skip]
  src/i18n/locales/fi.json
Labels: Translations

New translations en.json (Irish) [ci skip]
  src/i18n/locales/ga.json
Labels: Translations

New translations en.json (Gujarati) [ci skip]
  src/i18n/locales/gu.json
Labels: Translations

New translations en.json (Hebrew) [ci skip]
  src/i18n/locales/he.json
Labels: Translations

New translations en.json (Hungarian) [ci skip]
  src/i18n/locales/hu.json
Labels: Translations

New translations en.json (Armenian) [ci skip]
  src/i18n/locales/hy.json
Labels: Translations

New translations en.json (Japanese) [ci skip]
  src/i18n/locales/ja.json
Labels: Translations

.github/labeler.yml:

# For reference, please look at https://github.com/actions/labeler

GitHub Actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

Price addition:
- changed-files:
  - any-glob-to-any-file: 'src/views/AddPriceHome.vue'
  - any-glob-to-any-file: 'src/views/AddPriceSingle.vue'
  - any-glob-to-any-file: 'src/views/AddPriceMultiple.vue'

Brands:
- changed-files:
  - any-glob-to-any-file: 'src/views/BrandDetail.vue'

üìç Locations::
- changed-files:
  - any-glob-to-any-file: 'src/views/LocationList.vue'
  - any-glob-to-any-file: 'src/views/LocationDetail.vue'

ü•´ Product page:
- changed-files:
  - any-glob-to-any-file: 'src/views/ProductList.vue'
  - any-glob-to-any-file: 'src/views/ProductDetail.vue'

üîç Search:
- changed-files:
  - any-glob-to-any-file: 'src/views/Search.vue'

Stats:
- changed-files:
  - any-glob-to-any-file: 'src/views/Stats.vue'

User:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserList.vue'
  - any-glob-to-any-file: 'src/views/UserDetail.vue'

User dashboard:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserDashboard*.vue'

‚öôÔ∏è Settings:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserSettings.vue'

Action menus:
- changed-files:
  - any-glob-to-any-file: 'src/components/*ActionMenuButton.vue'

Translations:
- changed-files:
  - any-glob-to-any-file: 'src/i18n/**/*'
