Repository openfoodfacts/open-prices-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, Price addition, Brands, üìç Locations, ü•´ Product page, üîç Search, Stats, User, User dashboard, ‚öôÔ∏è Settings, Action menus

New translations en.json (Hausa) [ci skip]
  src/i18n/locales/ha.json
Labels: none

New translations en.json (Chuvash) [ci skip]
  src/i18n/locales/cv.json
Labels: none

New translations en.json (Tajik) [ci skip]
  src/i18n/locales/tg.json
Labels: none

New translations en.json (Lao) [ci skip]
  src/i18n/locales/lo.json
Labels: none

New translations en.json (Quechua) [ci skip]
  src/i18n/locales/qu.json
Labels: none

New translations en.json (Somali) [ci skip]
  src/i18n/locales/so.json
Labels: none

New translations en.json (Yoruba) [ci skip]
  src/i18n/locales/yo.json
Labels: none

New translations en.json (Afar) [ci skip]
  src/i18n/locales/aa.json
Labels: none

New translations en.json (Bambara) [ci skip]
  src/i18n/locales/bm.json
Labels: none

New translations en.json (Chechen) [ci skip]
  src/i18n/locales/ce.json
Labels: none

New translations en.json (Corsican) [ci skip]
  src/i18n/locales/co.json
Labels: none

New translations en.json (Haitian Creole) [ci skip]
  src/i18n/locales/ht.json
Labels: none

New translations en.json (Sichuan Yi) [ci skip]
  src/i18n/locales/ii.json
Labels: none

New translations en.json (Javanese) [ci skip]
  src/i18n/locales/jv.json
Labels: none

New translations en.json (Inuktitut) [ci skip]
  src/i18n/locales/iu.json
Labels: none

New translations en.json (Sardinian) [ci skip]
  src/i18n/locales/sc.json
Labels: none

New translations en.json (Sindhi) [ci skip]
  src/i18n/locales/sd.json
Labels: none

New translations en.json (Sango) [ci skip]
  src/i18n/locales/sg.json
Labels: none

New translations en.json (Shona) [ci skip]
  src/i18n/locales/sn.json
Labels: none

New translations en.json (Tigrinya) [ci skip]
  src/i18n/locales/ti.json
Labels: none

New translations en.json (Sanskrit) [ci skip]
  src/i18n/locales/sa.json
Labels: none

New translations en.json (Akan, Twi) [ci skip]
  src/i18n/locales/tw.json
Labels: none

New translations en.json (Urdu (India)) [ci skip]
  src/i18n/locales/ur.json
Labels: none

New translations en.json (Karakalpak) [ci skip]
  src/i18n/locales/kaa.json
Labels: none

refactor(Locations): proofs: replace the action menu with the existing chip cliquable. ref #1255
  src/components/LocationActionMenuButton.vue
  src/components/LocationCard.vue
Labels: Action menus

refactor(User detail): fetch full user object from backend
  src/views/UserDetail.vue
Labels: User

refactor(Stats): new Experiments section, with challenges & prices with price tag count
  src/i18n/locales/en.json
  src/views/Stats.vue
Labels: Stats

refactor(Users): proofs: replace the action menu with the existing chip cliquable. ref #1256
  src/components/UserActionMenuButton.vue
  src/components/UserCard.vue
Labels: Action menus

feat(Stats): new Experiments section, with challenges & prices with price tag count (#1339)
  src/i18n/locales/en.json
  src/views/Stats.vue
Labels: Stats

New translations en.json (Spanish) [ci skip]
  src/i18n/locales/es.json
Labels: none

New translations en.json (Portuguese, Brazilian) [ci skip]
  src/i18n/locales/pt_BR.json
Labels: none

New translations en.json (Italian) [ci skip]
  src/i18n/locales/it.json
Labels: none

New translations en.json (Dutch, Belgium) [ci skip]
  src/i18n/locales/nl_BE.json
Labels: none

New translations en.json (Romanian) [ci skip]
  src/i18n/locales/ro.json
Labels: none

New translations en.json (French) [ci skip]
  src/i18n/locales/fr.json
Labels: none

New translations en.json (Arabic) [ci skip]
  src/i18n/locales/ar.json
Labels: none

New translations en.json (Belarusian) [ci skip]
  src/i18n/locales/be.json
Labels: none

New translations en.json (Bulgarian) [ci skip]
  src/i18n/locales/bg.json
Labels: none

New translations en.json (Catalan) [ci skip]
  src/i18n/locales/ca.json
Labels: none

New translations en.json (Czech) [ci skip]
  src/i18n/locales/cs.json
Labels: none

.github/labeler.yml:

# For reference, please look at https://github.com/actions/labeler

GitHub Actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

Price addition:
- changed-files:
  - any-glob-to-any-file: 'src/views/PriceAddHome.vue'
  - any-glob-to-any-file: 'src/views/PriceAddSingle.vue'
  - any-glob-to-any-file: 'src/views/PriceAddMultiple.vue'

Brands:
- changed-files:
  - any-glob-to-any-file: 'src/views/BrandDetail.vue'

üìç Locations:
- changed-files:
  - any-glob-to-any-file: 'src/views/LocationList.vue'
  - any-glob-to-any-file: 'src/views/LocationDetail.vue'

ü•´ Product page:
- changed-files:
  - any-glob-to-any-file: 'src/views/ProductList.vue'
  - any-glob-to-any-file: 'src/views/ProductDetail.vue'

üîç Search:
- changed-files:
  - any-glob-to-any-file: 'src/views/Search.vue'

Stats:
- changed-files:
  - any-glob-to-any-file: 'src/views/Stats.vue'

User:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserList.vue'
  - any-glob-to-any-file: 'src/views/UserDetail.vue'

User dashboard:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserDashboard*.vue'

‚öôÔ∏è Settings:
- changed-files:
  - any-glob-to-any-file: 'src/views/Settings.vue'

Action menus:
- changed-files:
  - any-glob-to-any-file: 'src/components/*ActionMenuButton.vue'

Translations:
- all:
  - changed-files:
    - any-glob-to-any-file: 'src/i18n/**/*'
    - all-globs-to-all-files: '!src/i18n/locales/en.json'
