Repository openfoodfacts/open-prices-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, Price addition, Brands, üìç Locations:, ü•´ Product page, üîç Search, Stats, User, User dashboard, ‚öôÔ∏è Settings, Action menus, Translations

New translations en.json (Santali) [ci skip]
  src/i18n/locales/sat.json
Labels: Translations

New translations en.json (Sardinian) [ci skip]
  src/i18n/locales/sc.json
Labels: Translations

New translations en.json (Sindhi) [ci skip]
  src/i18n/locales/sd.json
Labels: Translations

New translations en.json (Sango) [ci skip]
  src/i18n/locales/sg.json
Labels: Translations

New translations en.json (Shona) [ci skip]
  src/i18n/locales/sn.json
Labels: Translations

New translations en.json (Tigrinya) [ci skip]
  src/i18n/locales/ti.json
Labels: Translations

New translations en.json (Sanskrit) [ci skip]
  src/i18n/locales/sa.json
Labels: Translations

New translations en.json (Seychellois Creole) [ci skip]
  src/i18n/locales/crs.json
Labels: Translations

New translations en.json (Venetian) [ci skip]
  src/i18n/locales/vec.json
Labels: Translations

New translations en.json (Southern Sami) [ci skip]
  src/i18n/locales/sma.json
Labels: Translations

New translations en.json (Akan, Twi) [ci skip]
  src/i18n/locales/tw.json
Labels: Translations

New translations en.json (Talossan) [ci skip]
  src/i18n/locales/tzl.json
Labels: Translations

New translations en.json (Zeelandic) [ci skip]
  src/i18n/locales/zea.json
Labels: Translations

New translations en.json (Kabyle) [ci skip]
  src/i18n/locales/kab.json
Labels: Translations

New translations en.json (Urdu (India)) [ci skip]
  src/i18n/locales/ur.json
Labels: Translations

New translations en.json (LOLCAT) [ci skip]
  src/i18n/locales/lol.json
Labels: Translations

chore(master): release 1.76.0
  CHANGELOG.md
Labels: none

chore(master): release 1.76.0 (#810)
  CHANGELOG.md
Labels: none

fix(locations): fix OSM id chip margin
  src/components/LocationCard.vue
Labels: none

feat(locations): add filter by price_count
  src/components/FilterMenu.vue
  src/constants.js
  src/i18n/locales/en.json
  src/views/LocationList.vue
Labels: üìç Locations:, Translations

feat(locations): add filter by price_count (#814)
  src/components/FilterMenu.vue
  src/constants.js
  src/i18n/locales/en.json
  src/views/LocationList.vue
Labels: üìç Locations:, Translations

feat(users): add filter by price_count
  src/components/FilterMenu.vue
  src/constants.js
  src/i18n/locales/en.json
  src/views/LocationList.vue
  src/views/UserList.vue
Labels: üìç Locations:, User, Translations

feat(users): add filter by price_count (#815)
  src/components/FilterMenu.vue
  src/constants.js
  src/i18n/locales/en.json
  src/views/LocationList.vue
  src/views/UserList.vue
Labels: üìç Locations:, User, Translations

New translations en.json (Romanian) [ci skip]
  src/i18n/locales/ro.json
Labels: Translations

New translations en.json (Arabic) [ci skip]
  src/i18n/locales/ar.json
Labels: Translations

New translations en.json (Punjabi) [ci skip]
  src/i18n/locales/pa.json
Labels: Translations

New translations en.json (Hebrew) [ci skip]
  src/i18n/locales/he.json
Labels: Translations

New translations en.json (Portuguese, Brazilian) [ci skip]
  src/i18n/locales/pt_BR.json
Labels: Translations

New translations en.json (Spanish) [ci skip]
  src/i18n/locales/es.json
Labels: Translations

New translations en.json (Russian) [ci skip]
  src/i18n/locales/ru.json
Labels: Translations

New translations en.json (Norwegian) [ci skip]
  src/i18n/locales/no.json
Labels: Translations

New translations en.json (German) [ci skip]
  src/i18n/locales/de.json
Labels: Translations

New translations en.json (Irish) [ci skip]
  src/i18n/locales/ga.json
Labels: Translations

New translations en.json (Italian) [ci skip]
  src/i18n/locales/it.json
Labels: Translations

New translations en.json (Serbian (Cyrillic)) [ci skip]
  src/i18n/locales/sr_RS.json
Labels: Translations

New translations en.json (Japanese) [ci skip]
  src/i18n/locales/ja.json
Labels: Translations

New translations en.json (Albanian) [ci skip]
  src/i18n/locales/sq.json
Labels: Translations

New translations en.json (Bulgarian) [ci skip]
  src/i18n/locales/bg.json
Labels: Translations

New translations en.json (Basque) [ci skip]
  src/i18n/locales/eu.json
Labels: Translations

New translations en.json (Afrikaans) [ci skip]
  src/i18n/locales/af.json
Labels: Translations

.github/labeler.yml:

# For reference, please look at https://github.com/actions/labeler

GitHub Actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

Price addition:
- changed-files:
  - any-glob-to-any-file: 'src/views/AddPriceHome.vue'
  - any-glob-to-any-file: 'src/views/AddPriceSingle.vue'
  - any-glob-to-any-file: 'src/views/AddPriceMultiple.vue'

Brands:
- changed-files:
  - any-glob-to-any-file: 'src/views/BrandDetail.vue'

üìç Locations::
- changed-files:
  - any-glob-to-any-file: 'src/views/LocationList.vue'
  - any-glob-to-any-file: 'src/views/LocationDetail.vue'

ü•´ Product page:
- changed-files:
  - any-glob-to-any-file: 'src/views/ProductList.vue'
  - any-glob-to-any-file: 'src/views/ProductDetail.vue'

üîç Search:
- changed-files:
  - any-glob-to-any-file: 'src/views/Search.vue'

Stats:
- changed-files:
  - any-glob-to-any-file: 'src/views/Stats.vue'

User:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserList.vue'
  - any-glob-to-any-file: 'src/views/UserDetail.vue'

User dashboard:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserDashboard*.vue'

‚öôÔ∏è Settings:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserSettings.vue'

Action menus:
- changed-files:
  - any-glob-to-any-file: 'src/components/*ActionMenuButton.vue'

Translations:
- changed-files:
  - any-glob-to-any-file: 'src/i18n/**/*'
