Repository openfoodfacts/open-prices-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, Price addition, Brands, üìç Locations, ü•´ Product page, üîç Search, Stats, User, User dashboard, ‚öôÔ∏è Settings, Action menus

.github/labeler.yml:

# For reference, please look at https://github.com/actions/labeler

GitHub Actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

Price addition:
- changed-files:
  - any-glob-to-any-file: 'src/views/PriceAddHome.vue'
  - any-glob-to-any-file: 'src/views/PriceAddSingle.vue'
  - any-glob-to-any-file: 'src/views/PriceAddMultiple.vue'

Brands:
- changed-files:
  - any-glob-to-any-file: 'src/views/BrandDetail.vue'

üìç Locations:
- changed-files:
  - any-glob-to-any-file: 'src/views/LocationList.vue'
  - any-glob-to-any-file: 'src/views/LocationDetail.vue'

ü•´ Product page:
- changed-files:
  - any-glob-to-any-file: 'src/views/ProductList.vue'
  - any-glob-to-any-file: 'src/views/ProductDetail.vue'

üîç Search:
- changed-files:
  - any-glob-to-any-file: 'src/views/Search.vue'

Stats:
- changed-files:
  - any-glob-to-any-file: 'src/views/Stats.vue'

User:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserList.vue'
  - any-glob-to-any-file: 'src/views/UserDetail.vue'

User dashboard:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserDashboard*.vue'

‚öôÔ∏è Settings:
- changed-files:
  - any-glob-to-any-file: 'src/views/Settings.vue'

Action menus:
- changed-files:
  - any-glob-to-any-file: 'src/components/*ActionMenuButton.vue'

Translations:
- all:
  - changed-files:
    - any-glob-to-any-file: 'src/i18n/**/*'
    - all-globs-to-all-files: '!src/i18n/locales/en.json'

chore(master): release 1.120.0 (#1380)
  CHANGELOG.md
Labels: none

New translations en.json (Japanese) [ci skip]
  src/i18n/locales/ja.json
Labels: none

New translations en.json (Russian) [ci skip]
  src/i18n/locales/ru.json
Labels: none

fix(ChallengeTimeline): Fix off-by-one end date error
  src/components/ChallengeTimeline.vue
Labels: none

Manage last day
  src/components/ChallengeTimeline.vue
Labels: none

fix(Challenge): Timeline: fix off-by-one end date error (#1384)
  src/components/ChallengeTimeline.vue
Labels: none

chore(master): release 1.120.1
  CHANGELOG.md
Labels: none

New translations en.json (Czech) [ci skip]
  src/i18n/locales/cs.json
Labels: none

New translations en.json (Russian) [ci skip]
  src/i18n/locales/ru.json
Labels: none

New translations en.json (Czech) [ci skip]
  src/i18n/locales/cs.json
Labels: none

feat(Prices): Show the new discount_type field in the Price form
  src/components/ContributionAssistantPriceFormCard.vue
  src/components/PriceEditDialog.vue
  src/components/PriceInputRow.vue
  src/constants.js
  src/i18n/locales/en.json
  src/services/api.js
  src/views/PriceAddMultiple.vue
  src/views/PriceAddSingle.vue
  tests/fixtures/pitted_apricot_prices.json
  tests/fixtures/prices.json
  tests/fixtures/product_3011360030498_prices.json
Labels: Price addition

Move up empty value
  src/constants.js
Labels: none

ci: fix deploy proxy host
  .github/workflows/deploy.yml
Labels: GitHub Actions

ci: fix deploy proxy host (#1387)
  .github/workflows/deploy.yml
Labels: GitHub Actions

feat(Prices): Show the new discount_type field in the Price form (#1386)
  src/components/ContributionAssistantPriceFormCard.vue
  src/components/PriceEditDialog.vue
  src/components/PriceInputRow.vue
  src/constants.js
  src/i18n/locales/en.json
  src/services/api.js
  src/views/PriceAddMultiple.vue
  src/views/PriceAddSingle.vue
  tests/fixtures/pitted_apricot_prices.json
  tests/fixtures/prices.json
  tests/fixtures/product_3011360030498_prices.json
Labels: Price addition

chore(master): release 1.121.0
  CHANGELOG.md
Labels: none

chore(master): release 1.121.0 (#1385)
  CHANGELOG.md
Labels: none

New translations en.json (Spanish) [ci skip]
  src/i18n/locales/es.json
Labels: none

New translations en.json (Portuguese, Brazilian) [ci skip]
  src/i18n/locales/pt_BR.json
Labels: none

New translations en.json (Italian) [ci skip]
  src/i18n/locales/it.json
Labels: none

New translations en.json (Dutch, Belgium) [ci skip]
  src/i18n/locales/nl_BE.json
Labels: none

New translations en.json (Romanian) [ci skip]
  src/i18n/locales/ro.json
Labels: none

New translations en.json (French) [ci skip]
  src/i18n/locales/fr.json
Labels: none

New translations en.json (Arabic) [ci skip]
  src/i18n/locales/ar.json
Labels: none

New translations en.json (Belarusian) [ci skip]
  src/i18n/locales/be.json
Labels: none

New translations en.json (Bulgarian) [ci skip]
  src/i18n/locales/bg.json
Labels: none

New translations en.json (Catalan) [ci skip]
  src/i18n/locales/ca.json
Labels: none

New translations en.json (Czech) [ci skip]
  src/i18n/locales/cs.json
Labels: none

New translations en.json (Danish) [ci skip]
  src/i18n/locales/da.json
Labels: none

New translations en.json (German) [ci skip]
  src/i18n/locales/de.json
Labels: none

New translations en.json (Greek) [ci skip]
  src/i18n/locales/el.json
Labels: none

New translations en.json (Basque) [ci skip]
  src/i18n/locales/eu.json
Labels: none

New translations en.json (Finnish) [ci skip]
  src/i18n/locales/fi.json
Labels: none

New translations en.json (Irish) [ci skip]
  src/i18n/locales/ga.json
Labels: none

New translations en.json (Gujarati) [ci skip]
  src/i18n/locales/gu.json
Labels: none

New translations en.json (Hebrew) [ci skip]
  src/i18n/locales/he.json
Labels: none

New translations en.json (Hungarian) [ci skip]
  src/i18n/locales/hu.json
Labels: none

New translations en.json (Armenian) [ci skip]
  src/i18n/locales/hy.json
Labels: none

New translations en.json (Japanese) [ci skip]
  src/i18n/locales/ja.json
Labels: none

New translations en.json (Georgian) [ci skip]
  src/i18n/locales/ka.json
Labels: none
