Repository openfoodfacts/open-prices-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, Price addition, Brands, üìç Locations, ü•´ Product page, üîç Search, Stats, User, User dashboard, ‚öôÔ∏è Settings, Action menus

.github/labeler.yml:

# For reference, please look at https://github.com/actions/labeler

GitHub Actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

Price addition:
- changed-files:
  - any-glob-to-any-file: 'src/views/PriceAddHome.vue'
  - any-glob-to-any-file: 'src/views/PriceAddSingle.vue'
  - any-glob-to-any-file: 'src/views/PriceAddMultiple.vue'

Brands:
- changed-files:
  - any-glob-to-any-file: 'src/views/BrandDetail.vue'

üìç Locations:
- changed-files:
  - any-glob-to-any-file: 'src/views/LocationList.vue'
  - any-glob-to-any-file: 'src/views/LocationDetail.vue'

ü•´ Product page:
- changed-files:
  - any-glob-to-any-file: 'src/views/ProductList.vue'
  - any-glob-to-any-file: 'src/views/ProductDetail.vue'

üîç Search:
- changed-files:
  - any-glob-to-any-file: 'src/views/Search.vue'

Stats:
- changed-files:
  - any-glob-to-any-file: 'src/views/Stats.vue'

User:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserList.vue'
  - any-glob-to-any-file: 'src/views/UserDetail.vue'

User dashboard:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserDashboard*.vue'

‚öôÔ∏è Settings:
- changed-files:
  - any-glob-to-any-file: 'src/views/Settings.vue'

Action menus:
- changed-files:
  - any-glob-to-any-file: 'src/components/*ActionMenuButton.vue'

Translations:
- all:
  - changed-files:
    - any-glob-to-any-file: 'src/i18n/**/*'
    - all-globs-to-all-files: '!src/i18n/locales/en.json'

Display product data
  src/components/PriceTable.vue
  src/views/ProductDetail.vue
  src/views/ProofDetail.vue
Labels: ü•´ Product page

temp
  src/components/PriceTable.vue
Labels: none

refactor(Proof detail): add display toggle. allow displaying prices by list or table (#1543)
  src/components/PriceTable.vue
  src/views/PriceDetail.vue
  src/views/ProductDetail.vue
  src/views/ProofDetail.vue
Labels: ü•´ Product page

New translations en.json (Chinese Simplified) [ci skip]
  src/i18n/locales/zh_CN.json
Labels: none

New translations en.json (Chinese Simplified) [ci skip]
  src/i18n/locales/zh_CN.json
Labels: none

New translations en.json (Chinese Simplified) [ci skip]
  src/i18n/locales/zh_CN.json
Labels: none

add github source for component in vite config
  vite.config.js
Labels: none

refactor(Products): new PriceCategoryDetails component
  src/components/PriceCard.vue
  src/components/PriceCategoryDetails.vue
  src/components/PriceTable.vue
  src/components/ProductInputRow.vue
Labels: none

refactor(Products): new PriceCategoryDetails component (#1548)
  src/components/PriceCard.vue
  src/components/PriceCategoryDetails.vue
  src/components/PriceTable.vue
  src/components/ProductInputRow.vue
Labels: none

feat(Barcode Scanner): use openfoodfacts-webcomponents (and allow user to switch back to html5-qrcode) (#1545)
  package.json
  src/components/BarcodeScannerDialog.vue
  src/constants.js
  src/store.js
  src/views/Settings.vue
  vite.config.js
Labels: ‚öôÔ∏è Settings

fix(Products): better manage non-en category tags
  src/components/ProductInputRow.vue
  src/views/ProductDetail.vue
Labels: ü•´ Product page

fix(Products): better manage non-en category tags (#1549)
  src/components/ProductInputRow.vue
  src/views/ProductDetail.vue
Labels: ü•´ Product page

chore(main): release 1.134.0
  CHANGELOG.md
Labels: none

chore(main): release 1.134.0 (#1541)
  CHANGELOG.md
Labels: none

New translations en.json (Danish) [ci skip]
  src/i18n/locales/da.json
Labels: none

fix(Products): fix missing hasProductSource in ProductCard. ref #1547
  src/components/ProductCard.vue
Labels: none

refactor(Products): move product default image url to constants
  src/components/PriceCard.vue
  src/components/ProductCard.vue
  src/constants.js
Labels: none

fix(Challenges): card links: use 'to' instead of 'click'
  src/components/ChallengeCard.vue
Labels: none

refactor(URLs): use 'to' instead of 'click' when possible
  src/components/ChangeCurrencyDialog.vue
  src/components/ProductBrandsDialog.vue
  src/components/ProductCategoriesDialog.vue
  src/components/ProductLabelsDialog.vue
  src/views/ProofAddMultiple.vue
  src/views/ProofAddSingle.vue
Labels: none

chore(main): release 1.134.1
  CHANGELOG.md
Labels: none

chore(main): release 1.134.1 (#1552)
  CHANGELOG.md
Labels: none

refactor(Receipt Assistant): hide progress bar when all prices have been uploaded. mimick other workflows. ref #1507
  src/views/ReceiptAssistant.vue
Labels: none

refactor(Receipt Assistant): in the product edit modal, allow scanning the barcode. ref #1507
  src/components/ContributionAssistantPriceFormCard.vue
  src/components/ReceiptTableCard.vue
  src/views/ContributionAssistant.vue
  src/views/PriceValidationAssistant.vue
Labels: none

refactor(Receipt Assistant): UserRecentProofsDialog: show only receipt proofs. ref #1507
  src/components/ProofImageInputRow.vue
  src/components/ProofUploadCard.vue
  src/components/UserRecentProofsDialog.vue
Labels: none

refactor(Proof form): simplify a bit the ProofTypeInputRow code
  src/components/ProofTypeInputRow.vue
  src/components/ProofUploadCard.vue
Labels: none

chore(main): release 1.134.2
  CHANGELOG.md
Labels: none

chore(main): release 1.134.2 (#1554)
  CHANGELOG.md
Labels: none

refactor(Receipt Assistant): quick cleanup & typo fix
  src/components/ContributionAssistantPriceFormCard.vue
  src/components/ReceiptTableCard.vue
Labels: none

refactor(Receipt Assistant): init receipt_quantity to 1
  src/components/ContributionAssistantPriceFormCard.vue
  src/components/ReceiptTableCard.vue
  src/views/ReceiptAssistant.vue
Labels: none

refactor: new PriceQuantityPurchasedChip component
  src/components/PricePriceRow.vue
  src/components/PriceQuantityPurchasedChip.vue
Labels: none

refactor(Receipt Quantity): new PriceQuantityPurchasedChip component (#1558)
  src/components/PricePriceRow.vue
  src/components/PriceQuantityPurchasedChip.vue
Labels: none

chore(main): release 1.134.3
  CHANGELOG.md
Labels: none

New translations en.json (Slovak) [ci skip]
  src/i18n/locales/sk.json
Labels: none

New translations en.json (Slovak) [ci skip]
  src/i18n/locales/sk.json
Labels: none

chore(main): release 1.134.3 (#1557)
  CHANGELOG.md
Labels: none

New translations en.json (Portuguese) [ci skip]
  src/i18n/locales/pt_PT.json
Labels: none

refactor(Proof upload): move down the multiple price tag upload warning alert. ref #1175
  src/components/ProofUploadCard.vue
Labels: none

feat(Receipt Assistant): Add a callout-promo in the ProofUploadCard
  src/assets/main.css
  src/components/ProofUploadCard.vue
  src/i18n/locales/en.json
Labels: none

feat(Receipt Assistant): Add a callout-promo in the ProofUploadCard (#1560)
  src/assets/main.css
  src/components/ProofUploadCard.vue
  src/i18n/locales/en.json
Labels: none

refactor(Challenges): new section to list upcoming challenges
  src/i18n/locales/en.json
  src/views/ChallengeList.vue
Labels: none
