Repository openfoodfacts/open-prices-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, Price addition, Brands, üìç Locations, ü•´ Product page, üîç Search, Stats, User, User dashboard, ‚öôÔ∏è Settings, Action menus

.github/labeler.yml:

# For reference, please look at https://github.com/actions/labeler

GitHub Actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

Price addition:
- changed-files:
  - any-glob-to-any-file: 'src/views/PriceAddHome.vue'
  - any-glob-to-any-file: 'src/views/PriceAddSingle.vue'
  - any-glob-to-any-file: 'src/views/PriceAddMultiple.vue'

Brands:
- changed-files:
  - any-glob-to-any-file: 'src/views/BrandDetail.vue'

üìç Locations:
- changed-files:
  - any-glob-to-any-file: 'src/views/LocationList.vue'
  - any-glob-to-any-file: 'src/views/LocationDetail.vue'

ü•´ Product page:
- changed-files:
  - any-glob-to-any-file: 'src/views/ProductList.vue'
  - any-glob-to-any-file: 'src/views/ProductDetail.vue'

üîç Search:
- changed-files:
  - any-glob-to-any-file: 'src/views/Search.vue'

Stats:
- changed-files:
  - any-glob-to-any-file: 'src/views/Stats.vue'

User:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserList.vue'
  - any-glob-to-any-file: 'src/views/UserDetail.vue'

User dashboard:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserDashboard*.vue'

‚öôÔ∏è Settings:
- changed-files:
  - any-glob-to-any-file: 'src/views/Settings.vue'

Action menus:
- changed-files:
  - any-glob-to-any-file: 'src/components/*ActionMenuButton.vue'

Translations:
- all:
  - changed-files:
    - any-glob-to-any-file: 'src/i18n/**/*'
    - all-globs-to-all-files: '!src/i18n/locales/en.json'

New translations en.json (Hausa) [ci skip]
  src/i18n/locales/ha.json
Labels: none

New translations en.json (Chuvash) [ci skip]
  src/i18n/locales/cv.json
Labels: none

New translations en.json (Tajik) [ci skip]
  src/i18n/locales/tg.json
Labels: none

New translations en.json (Lao) [ci skip]
  src/i18n/locales/lo.json
Labels: none

New translations en.json (Quechua) [ci skip]
  src/i18n/locales/qu.json
Labels: none

New translations en.json (Somali) [ci skip]
  src/i18n/locales/so.json
Labels: none

New translations en.json (Yoruba) [ci skip]
  src/i18n/locales/yo.json
Labels: none

New translations en.json (Afar) [ci skip]
  src/i18n/locales/aa.json
Labels: none

New translations en.json (Bambara) [ci skip]
  src/i18n/locales/bm.json
Labels: none

New translations en.json (Chechen) [ci skip]
  src/i18n/locales/ce.json
Labels: none

New translations en.json (Corsican) [ci skip]
  src/i18n/locales/co.json
Labels: none

New translations en.json (Haitian Creole) [ci skip]
  src/i18n/locales/ht.json
Labels: none

New translations en.json (Sichuan Yi) [ci skip]
  src/i18n/locales/ii.json
Labels: none

New translations en.json (Inuktitut) [ci skip]
  src/i18n/locales/iu.json
Labels: none

New translations en.json (Javanese) [ci skip]
  src/i18n/locales/jv.json
Labels: none

New translations en.json (Sardinian) [ci skip]
  src/i18n/locales/sc.json
Labels: none

New translations en.json (Sindhi) [ci skip]
  src/i18n/locales/sd.json
Labels: none

New translations en.json (Sango) [ci skip]
  src/i18n/locales/sg.json
Labels: none

New translations en.json (Shona) [ci skip]
  src/i18n/locales/sn.json
Labels: none

New translations en.json (Tigrinya) [ci skip]
  src/i18n/locales/ti.json
Labels: none

New translations en.json (Sanskrit) [ci skip]
  src/i18n/locales/sa.json
Labels: none

New translations en.json (Akan, Twi) [ci skip]
  src/i18n/locales/tw.json
Labels: none

New translations en.json (Urdu (India)) [ci skip]
  src/i18n/locales/ur.json
Labels: none

New translations en.json (Karakalpak) [ci skip]
  src/i18n/locales/kaa.json
Labels: none

chore(main): release 1.133.0
  CHANGELOG.md
Labels: none

chore(main): release 1.133.0 (#1536)
  CHANGELOG.md
Labels: none

refactor(Challenges): only use tag__contains as filter param. ref #1527
  src/views/ChallengeDetail.vue
  src/views/LocationProofList.vue
Labels: none

fix(Price input): additional checks if the currency is not provided
  src/components/PriceInputRow.vue
Labels: none

refactor(Receipt Assistant): in price edit dialog, hide the proof details. ref #1507
  src/components/ReceiptTableCard.vue
Labels: none

refactor(Receipt Assistant): in price edit dialog, show the quantity_bought field. ref #1507
  src/components/ContributionAssistantPriceFormCard.vue
  src/components/ReceiptTableCard.vue
Labels: none

chore(main): release 1.133.1
  CHANGELOG.md
Labels: none

chore(main): release 1.133.1 (#1540)
  CHANGELOG.md
Labels: none

refactor(Receipt Assistant): move table actions into row with spacer. ref #1507
  src/components/PriceAlreadyUploadedListCard.vue
  src/components/ReceiptTableCard.vue
Labels: none

refactor(Receipt Assistant): show price count & price total below table
  src/components/ReceiptTableCard.vue
Labels: none

feat(BarcodeScanner): use openfoodfacts webcomponents
  package.json
  src/components/BarcodeScannerDialog.vue
  src/constants.js
  src/store.js
  src/views/Settings.vue
  vite.config.js
Labels: ‚öôÔ∏è Settings

New translations en.json (Chinese Simplified) [ci skip]
  src/i18n/locales/zh_CN.json
Labels: none

refactor(Receipt Assistant): show price count & price total below table (#1542)
  src/components/ReceiptTableCard.vue
Labels: none

refactor(Products): new ProductDetails component
  src/components/PriceCard.vue
  src/components/ProductCard.vue
  src/components/ProductDetails.vue
Labels: none

refactor(Products): new ProductDetails component (#1547)
  src/components/PriceCard.vue
  src/components/ProductCard.vue
  src/components/ProductDetails.vue
Labels: none

refactor(Proof detail): add display toggle. allow displaying prices by list or table
  src/views/PriceDetail.vue
  src/views/ProductDetail.vue
  src/views/ProofDetail.vue
Labels: ü•´ Product page
