Repository openfoodfacts/open-prices-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, Price addition, Brands, üìç Locations, ü•´ Product page, üîç Search, Stats, User, User dashboard, ‚öôÔ∏è Settings, Action menus

chore(main): release 1.123.1
  CHANGELOG.md
Labels: none

chore(main): release 1.123.1 (#1432)
  CHANGELOG.md
Labels: none

feat(Proofs): display the new owner_consumption field
  src/components/ProofEditDialog.vue
  src/components/ProofMetadataInputRow.vue
  src/components/ProofUploadCard.vue
  src/i18n/locales/en.json
  src/services/api.js
  src/views/PriceAddMultiple.vue
Labels: Price addition

rewording
  src/i18n/locales/en.json
Labels: none

New ProofUserConsumptionChip
  src/components/ProofFooterRow.vue
  src/components/ProofUserConsumptionChip.vue
  src/constants.js
Labels: none

Move field down to give more space
  src/components/ProofEditDialog.vue
  src/components/ProofMetadataInputRow.vue
  src/components/ProofUploadCard.vue
  src/services/api.js
  src/views/PriceAddMultiple.vue
Labels: Price addition

feat(Proofs): display the new owner_consumption field (form, chip) (#1435)
  src/components/ProofEditDialog.vue
  src/components/ProofFooterRow.vue
  src/components/ProofMetadataInputRow.vue
  src/components/ProofUploadCard.vue
  src/components/ProofUserConsumptionChip.vue
  src/constants.js
  src/i18n/locales/en.json
  src/services/api.js
  src/views/PriceAddMultiple.vue
Labels: Price addition

refactor(Forms): Proof & Price: replace v-checkbox with v-switch
  src/components/PriceInputRow.vue
  src/components/ProductInputRow.vue
  src/components/ProofMetadataInputRow.vue
  src/components/ProofUploadCard.vue
Labels: none

refactor(Forms): replace v-checkbox with v-switch (Proof & Price) (#1437)
  src/components/PriceInputRow.vue
  src/components/ProductInputRow.vue
  src/components/ProofMetadataInputRow.vue
  src/components/ProofUploadCard.vue
Labels: none

refactor(Forms): add success color to v-switch
  src/components/PriceInputRow.vue
  src/components/ProductInputRow.vue
  src/components/ProofMetadataInputRow.vue
  src/components/ProofUploadCard.vue
  src/views/Settings.vue
Labels: ‚öôÔ∏è Settings

refactor(Forms): add green color to v-switch (Proof, Price & Settings) (#1438)
  src/components/PriceInputRow.vue
  src/components/ProductInputRow.vue
  src/components/ProofMetadataInputRow.vue
  src/components/ProofUploadCard.vue
  src/views/Settings.vue
Labels: ‚öôÔ∏è Settings

refactor(Proofs): move up the location field above the image(s)
  src/components/ProofUploadCard.vue
Labels: none

refactor(Proofs): move up the location field above the image(s) (#1439)
  src/components/ProofUploadCard.vue
Labels: none

New translations en.json (Romanian) [ci skip]
  src/i18n/locales/ro.json
Labels: none

New translations en.json (French) [ci skip]
  src/i18n/locales/fr.json
Labels: none

New translations en.json (Spanish) [ci skip]
  src/i18n/locales/es.json
Labels: none

New translations en.json (Arabic) [ci skip]
  src/i18n/locales/ar.json
Labels: none

New translations en.json (Belarusian) [ci skip]
  src/i18n/locales/be.json
Labels: none

New translations en.json (Bulgarian) [ci skip]
  src/i18n/locales/bg.json
Labels: none

New translations en.json (Catalan) [ci skip]
  src/i18n/locales/ca.json
Labels: none

New translations en.json (Czech) [ci skip]
  src/i18n/locales/cs.json
Labels: none

New translations en.json (Danish) [ci skip]
  src/i18n/locales/da.json
Labels: none

New translations en.json (German) [ci skip]
  src/i18n/locales/de.json
Labels: none

New translations en.json (Greek) [ci skip]
  src/i18n/locales/el.json
Labels: none

New translations en.json (Basque) [ci skip]
  src/i18n/locales/eu.json
Labels: none

New translations en.json (Finnish) [ci skip]
  src/i18n/locales/fi.json
Labels: none

New translations en.json (Irish) [ci skip]
  src/i18n/locales/ga.json
Labels: none

New translations en.json (Gujarati) [ci skip]
  src/i18n/locales/gu.json
Labels: none

New translations en.json (Hebrew) [ci skip]
  src/i18n/locales/he.json
Labels: none

New translations en.json (Hungarian) [ci skip]
  src/i18n/locales/hu.json
Labels: none

New translations en.json (Armenian) [ci skip]
  src/i18n/locales/hy.json
Labels: none

New translations en.json (Italian) [ci skip]
  src/i18n/locales/it.json
Labels: none

New translations en.json (Japanese) [ci skip]
  src/i18n/locales/ja.json
Labels: none

New translations en.json (Georgian) [ci skip]
  src/i18n/locales/ka.json
Labels: none

New translations en.json (Korean) [ci skip]
  src/i18n/locales/ko.json
Labels: none

New translations en.json (Kurdish) [ci skip]
  src/i18n/locales/kmr_TR.json
Labels: none

New translations en.json (Lithuanian) [ci skip]
  src/i18n/locales/lt.json
Labels: none

New translations en.json (Mongolian) [ci skip]
  src/i18n/locales/mn.json
Labels: none

New translations en.json (Dutch) [ci skip]
  src/i18n/locales/nl_NL.json
Labels: none

New translations en.json (Norwegian) [ci skip]
  src/i18n/locales/no.json
Labels: none

.github/labeler.yml:

# For reference, please look at https://github.com/actions/labeler

GitHub Actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

Price addition:
- changed-files:
  - any-glob-to-any-file: 'src/views/PriceAddHome.vue'
  - any-glob-to-any-file: 'src/views/PriceAddSingle.vue'
  - any-glob-to-any-file: 'src/views/PriceAddMultiple.vue'

Brands:
- changed-files:
  - any-glob-to-any-file: 'src/views/BrandDetail.vue'

üìç Locations:
- changed-files:
  - any-glob-to-any-file: 'src/views/LocationList.vue'
  - any-glob-to-any-file: 'src/views/LocationDetail.vue'

ü•´ Product page:
- changed-files:
  - any-glob-to-any-file: 'src/views/ProductList.vue'
  - any-glob-to-any-file: 'src/views/ProductDetail.vue'

üîç Search:
- changed-files:
  - any-glob-to-any-file: 'src/views/Search.vue'

Stats:
- changed-files:
  - any-glob-to-any-file: 'src/views/Stats.vue'

User:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserList.vue'
  - any-glob-to-any-file: 'src/views/UserDetail.vue'

User dashboard:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserDashboard*.vue'

‚öôÔ∏è Settings:
- changed-files:
  - any-glob-to-any-file: 'src/views/Settings.vue'

Action menus:
- changed-files:
  - any-glob-to-any-file: 'src/components/*ActionMenuButton.vue'

Translations:
- all:
  - changed-files:
    - any-glob-to-any-file: 'src/i18n/**/*'
    - all-globs-to-all-files: '!src/i18n/locales/en.json'
