Repository openfoodfacts/open-prices-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub Actions, Price addition, Brands, üìç Locations:, ü•´ Product page, üîç Search, Stats, User, User dashboard, ‚öôÔ∏è Settings, Action menus, Translations

New translations en.json (Corsican) [ci skip]
  src/i18n/locales/co.json
Labels: Translations

New translations en.json (Haitian Creole) [ci skip]
  src/i18n/locales/ht.json
Labels: Translations

New translations en.json (Sichuan Yi) [ci skip]
  src/i18n/locales/ii.json
Labels: Translations

New translations en.json (Inuktitut) [ci skip]
  src/i18n/locales/iu.json
Labels: Translations

New translations en.json (Javanese) [ci skip]
  src/i18n/locales/jv.json
Labels: Translations

New translations en.json (Santali) [ci skip]
  src/i18n/locales/sat.json
Labels: Translations

New translations en.json (Sardinian) [ci skip]
  src/i18n/locales/sc.json
Labels: Translations

New translations en.json (Sindhi) [ci skip]
  src/i18n/locales/sd.json
Labels: Translations

New translations en.json (Sango) [ci skip]
  src/i18n/locales/sg.json
Labels: Translations

New translations en.json (Shona) [ci skip]
  src/i18n/locales/sn.json
Labels: Translations

New translations en.json (Tigrinya) [ci skip]
  src/i18n/locales/ti.json
Labels: Translations

New translations en.json (Sanskrit) [ci skip]
  src/i18n/locales/sa.json
Labels: Translations

New translations en.json (Seychellois Creole) [ci skip]
  src/i18n/locales/crs.json
Labels: Translations

New translations en.json (Venetian) [ci skip]
  src/i18n/locales/vec.json
Labels: Translations

New translations en.json (Southern Sami) [ci skip]
  src/i18n/locales/sma.json
Labels: Translations

New translations en.json (Akan, Twi) [ci skip]
  src/i18n/locales/tw.json
Labels: Translations

New translations en.json (Talossan) [ci skip]
  src/i18n/locales/tzl.json
Labels: Translations

New translations en.json (Zeelandic) [ci skip]
  src/i18n/locales/zea.json
Labels: Translations

New translations en.json (Kabyle) [ci skip]
  src/i18n/locales/kab.json
Labels: Translations

New translations en.json (Urdu (India)) [ci skip]
  src/i18n/locales/ur.json
Labels: Translations

New translations en.json (LOLCAT) [ci skip]
  src/i18n/locales/lol.json
Labels: Translations

fix: fix infinite scroll when reaching the end
  src/views/BrandDetail.vue
  src/views/CategoryDetail.vue
  src/views/CountryCityDetail.vue
  src/views/CountryDetail.vue
  src/views/DateDetail.vue
  src/views/LabelDetail.vue
  src/views/LocationDetail.vue
  src/views/LocationList.vue
  src/views/ProductDetail.vue
  src/views/ProductList.vue
  src/views/ProofDetail.vue
  src/views/UserDashboardPriceList.vue
  src/views/UserDashboardProofList.vue
  src/views/UserDetail.vue
  src/views/UserList.vue
Labels: Brands, üìç Locations:, ü•´ Product page, User, User dashboard

fix: fix infinite scroll when reaching the end (#852)
  src/views/BrandDetail.vue
  src/views/CategoryDetail.vue
  src/views/CountryCityDetail.vue
  src/views/CountryDetail.vue
  src/views/DateDetail.vue
  src/views/LabelDetail.vue
  src/views/LocationDetail.vue
  src/views/LocationList.vue
  src/views/ProductDetail.vue
  src/views/ProductList.vue
  src/views/ProofDetail.vue
  src/views/UserDashboardPriceList.vue
  src/views/UserDashboardProofList.vue
  src/views/UserDetail.vue
  src/views/UserList.vue
Labels: Brands, üìç Locations:, ü•´ Product page, User, User dashboard

chore(master): release 1.81.0
  CHANGELOG.md
Labels: none

chore(master): release 1.81.0 (#846)
  CHANGELOG.md
Labels: none

feat(locations): show user, product & proof counts
  src/components/LocationCard.vue
  src/components/UserCard.vue
  src/i18n/locales/en.json
Labels: Translations

feat(locations): show user, product & proof counts (#853)
  src/components/LocationCard.vue
  src/components/UserCard.vue
  src/i18n/locales/en.json
Labels: Translations

New translations en.json (Spanish) [ci skip]
  src/i18n/locales/es.json
Labels: Translations

New translations en.json (Portuguese, Brazilian) [ci skip]
  src/i18n/locales/pt_BR.json
Labels: Translations

New translations en.json (Italian) [ci skip]
  src/i18n/locales/it.json
Labels: Translations

New translations en.json (Dutch, Belgium) [ci skip]
  src/i18n/locales/nl_BE.json
Labels: Translations

New translations en.json (Romanian) [ci skip]
  src/i18n/locales/ro.json
Labels: Translations

New translations en.json (French) [ci skip]
  src/i18n/locales/fr.json
Labels: Translations

New translations en.json (Afrikaans) [ci skip]
  src/i18n/locales/af.json
Labels: Translations

New translations en.json (Arabic) [ci skip]
  src/i18n/locales/ar.json
Labels: Translations

New translations en.json (Belarusian) [ci skip]
  src/i18n/locales/be.json
Labels: Translations

New translations en.json (Bulgarian) [ci skip]
  src/i18n/locales/bg.json
Labels: Translations

New translations en.json (Catalan) [ci skip]
  src/i18n/locales/ca.json
Labels: Translations

New translations en.json (Czech) [ci skip]
  src/i18n/locales/cs.json
Labels: Translations

New translations en.json (Danish) [ci skip]
  src/i18n/locales/da.json
Labels: Translations

.github/labeler.yml:

# For reference, please look at https://github.com/actions/labeler

GitHub Actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

Price addition:
- changed-files:
  - any-glob-to-any-file: 'src/views/AddPriceHome.vue'
  - any-glob-to-any-file: 'src/views/AddPriceSingle.vue'
  - any-glob-to-any-file: 'src/views/AddPriceMultiple.vue'

Brands:
- changed-files:
  - any-glob-to-any-file: 'src/views/BrandDetail.vue'

üìç Locations::
- changed-files:
  - any-glob-to-any-file: 'src/views/LocationList.vue'
  - any-glob-to-any-file: 'src/views/LocationDetail.vue'

ü•´ Product page:
- changed-files:
  - any-glob-to-any-file: 'src/views/ProductList.vue'
  - any-glob-to-any-file: 'src/views/ProductDetail.vue'

üîç Search:
- changed-files:
  - any-glob-to-any-file: 'src/views/Search.vue'

Stats:
- changed-files:
  - any-glob-to-any-file: 'src/views/Stats.vue'

User:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserList.vue'
  - any-glob-to-any-file: 'src/views/UserDetail.vue'

User dashboard:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserDashboard*.vue'

‚öôÔ∏è Settings:
- changed-files:
  - any-glob-to-any-file: 'src/views/UserSettings.vue'

Action menus:
- changed-files:
  - any-glob-to-any-file: 'src/components/*ActionMenuButton.vue'

Translations:
- changed-files:
  - any-glob-to-any-file: 'src/i18n/**/*'
