Repository openfoodfacts/open-prices-frontend, pull requests merged in 2024-02, with the labels that each got.

#275 feat(l10n): translate category list in price add form depending on user locale
  src/utils.js
  src/views/AddPriceMultiple.vue
  src/views/AddPriceSingle.vue
Labels: Multiple price addition

#276 fix: fix get category name
  src/components/PriceCard.vue
  src/utils.js
  src/views/ProductDetail.vue
Labels: 🥫 Product page

#279 feat: add price_count to ProofCard (create new PriceCountChip component)
  src/components/PriceCard.vue
  src/components/PriceCountChip.vue
  src/components/ProductCard.vue
  src/components/ProofCard.vue
  src/i18n/locales/en.json
  src/views/LocationDetail.vue
  src/views/LocationList.vue
  src/views/UserDetail.vue
  src/views/UserList.vue
Labels: 📍 Locations, User

#304 feat: allow users to delete its own proofs
  src/components/ProofCard.vue
  src/components/ProofDeleteChip.vue
  src/components/ProofFooter.vue
  src/i18n/locales/en.json
  src/services/api.js
Labels: 📷 Proofs

#319 fix: price value must be positive
  src/views/AddPriceMultiple.vue
  src/views/AddPriceSingle.vue
Labels: Multiple price addition

#320 feat: read gallery image exif date (and update if not today)
  package.json
  src/i18n/locales/en.json
  src/views/AddPriceMultiple.vue
  src/views/AddPriceSingle.vue
  yarn.lock
Labels: Price addition, Multiple price addition

#322 feat(l10n): translate origin list in price add form depending on user locale
  src/utils.js
  src/views/AddPriceMultiple.vue
  src/views/AddPriceSingle.vue
Labels: Multiple price addition, Origins

#297 feat: add a country selector in the user settings
  .env.local
  .env.preprod
  .env.prod
  src/i18n/data/countries.json
  src/i18n/locales/en.json
  src/store.js
  src/views/UserSettings.vue
Labels: ⚙️ Settings

#349 perf: Dynamic imports of vue components
  src/components/PriceCard.vue
  src/components/PriceDeleteChip.vue
  src/components/PriceFooter.vue
  src/components/ProductCard.vue
  src/components/ProofFooter.vue
  src/i18n/localeManager.js
  src/router.js
  src/views/AddPriceMultiple.vue
  src/views/AddPriceSingle.vue
  src/views/BrandDetail.vue
  src/views/LocationDetail.vue
  src/views/LocationList.vue
  src/views/PriceList.vue
  src/views/ProductDetail.vue
  src/views/ProductList.vue
  src/views/Search.vue
  src/views/UserDashboardPriceList.vue
  src/views/UserDetail.vue
  src/views/UserList.vue
Labels: 🔍 Search, Brands, 📍 Locations, User, 🥫 Product page, Multiple price addition

#344 feat: update URL when usering filter & order_by queries
  src/constants.js
  src/views/BrandDetail.vue
  src/views/ProductList.vue
Labels: Brands

#355 fix: typos in dynamic import (ref #349)
  src/views/BrandDetail.vue
Labels: Brands

#358 feat: add price filter
  src/constants.js
  src/i18n/locales/en.json
  src/views/BrandDetail.vue
  src/views/LocationDetail.vue
  src/views/ProductDetail.vue
  src/views/ProductList.vue
  src/views/UserDetail.vue
Labels: Brands, 📍 Locations, User, 🥫 Product page

#373 fix: force numeric keyboard for barcode & price inputs
  src/components/BarcodeManualInput.vue
  src/views/AddPriceMultiple.vue
  src/views/AddPriceSingle.vue
  src/views/Search.vue
Labels: 🔍 Search, Multiple price addition

#376 feat(price create form): allow user to select a recent proof
  src/components/ProofCard.vue
  src/components/ProofFooter.vue
  src/components/UserRecentProofsDialog.vue
  src/i18n/locales/en.json
  src/views/AddPriceMultiple.vue
  src/views/AddPriceSingle.vue
Labels: Multiple price addition

#310 feat: Settings country dependencies
  .env.local
  .env.preprod
  .env.prod
  src/constants.js
  src/i18n/data/countries.json
  src/store.js
  src/views/UserSettings.vue
Labels: ⚙️ Settings

#389 fix(product): fix add OFF button if product not found
  src/components/OpenFoodFactsButton.vue
  src/components/ProductCard.vue
  src/i18n/locales/en.json
  src/views/ProductDetail.vue
Labels: 🥫 Product page
