Repository openfoodfacts/open-prices-frontend, pull requests merged in 2024-01, with the labels that each got.

#241 feat(i18n): Add new languages
  src/constants.js
  src/i18n/data/languages.json
  src/i18n/localeManager.js
  src/i18n/locales/en.json
  src/views/UserSettings.vue
Labels: ⚙️ Settings

#244 feat(dashboard): move prices to seperate page
  src/i18n/locales/en.json
  src/router.js
  src/views/UserDashboard.vue
  src/views/UserDashboardPriceList.vue
Labels: User dashboard

#245 feat(dashboard): new page with user proofs
  src/components/PriceFooter.vue
  src/components/ProofCard.vue
  src/components/RelativeDateTimeChip.vue
  src/i18n/locales/en.json
  src/router.js
  src/views/UserDashboard.vue
  src/views/UserDashboardProofList.vue
Labels: User dashboard

#250 refactor(l10n): translation cleanup
  src/i18n/locales/en.json
  src/views/BrandDetail.vue
  src/views/LocationDetail.vue
  src/views/LocationList.vue
  src/views/Stats.vue
  src/views/UserDashboardPriceList.vue
  src/views/UserDashboardProofList.vue
  src/views/UserDetail.vue
  src/views/UserList.vue
Labels: Brands, 📍 Locations, Stats, User

#246 docs: improve setup instructions
  CONTRIBUTING.md
Labels: 📚 Documentation, DevOps

#258 refactor: new OpenFoodFacts button component
  src/components/OpenFoodFactsButton.vue
  src/constants.js
  src/views/BrandDetail.vue
  src/views/ProductDetail.vue
  src/views/UserDetail.vue
Labels: Brands, User, 🥫 Product page

#266 feat: add category price per unit toggle
  src/components/PricePrice.vue
  src/i18n/locales/en.json
  src/views/AddPriceMultiple.vue
  src/views/AddPriceSingle.vue
Labels: Multiple price addition
