Repository openfoodfacts/open-prices-frontend, pull requests merged in 2024-03, with the labels that each got.

#337 chore: cleanup language settings and language selector
  src/i18n/index.js
  src/i18n/localeManager.js
  src/router.js
  src/store.js
  src/views/UserSettings.vue
Labels: ⚙️ Settings

#409 refactor(l10n): allow translation of price ordering options
  src/constants.js
  src/i18n/locales/en.json
  src/views/LocationDetail.vue
  src/views/ProductDetail.vue
  src/views/UserDetail.vue
Labels: 📍 Locations, User, 🥫 Product page

#410 refactor(l10n): allow translation of product ordering options
  src/constants.js
  src/i18n/locales/en.json
  src/views/BrandDetail.vue
  src/views/CategoryDetail.vue
  src/views/ProductList.vue
Labels: Brands

#411 refactor(l10n): allow translation of filtering options
  src/constants.js
  src/i18n/locales/en.json
  src/views/BrandDetail.vue
  src/views/CategoryDetail.vue
  src/views/LocationDetail.vue
  src/views/ProductDetail.vue
  src/views/ProductList.vue
  src/views/UserDetail.vue
Labels: Brands, 📍 Locations, User, 🥫 Product page

#414 fix: improve page display when the user changes the price or product order
  src/views/BrandDetail.vue
  src/views/CategoryDetail.vue
  src/views/LocationDetail.vue
  src/views/ProductDetail.vue
  src/views/ProductList.vue
  src/views/UserDetail.vue
Labels: Brands, 📍 Locations, User, 🥫 Product page

#419 fix(i10n): language dropdown and locale load at mount
  src/main.js
  src/views/UserSettings.vue
Labels: ⚙️ Settings

#406 feat(settings): allow selecting multiple "favorite" currencies
  src/i18n/locales/en.json
  src/store.js
  src/views/UserSettings.vue
Labels: ⚙️ Settings

#397 feat: allow using multiple currencies in Add Prices form
  public/currency-exchange-svgrepo-com.svg
  src/components/ChangeCurrencyDialog.vue
  src/i18n/locales/en.json
  src/views/AddPriceMultiple.vue
  src/views/AddPriceSingle.vue
Labels: Multiple price addition

#435 refactor: improve OpenFoodFacts link component
  src/components/OpenFoodFactsLink.vue
  src/views/BrandDetail.vue
  src/views/CategoryDetail.vue
  src/views/Home.vue
  src/views/ProductDetail.vue
  src/views/SignIn.vue
  src/views/UserDetail.vue
Labels: 🔍 Search, Brands, User, 🥫 Product page

#455 fix: remove errors on Proof card emits
  src/components/ProofCard.vue
  src/components/UserRecentProofsDialog.vue
  src/views/AddPriceMultiple.vue
  src/views/AddPriceSingle.vue
Labels: Multiple price addition

#405 feat: Add price proof private in Add Price
  src/i18n/locales/en.json
  src/views/AddPriceMultiple.vue
Labels: Multiple price addition

#468 feat(proofs): display the proof receipt privacy status in the proof footer
  src/components/ProofEditDialog.vue
  src/components/ProofFooter.vue
  src/components/ProofPrivateChip.vue
  src/components/ProofTypeChip.vue
  src/views/AddPriceMultiple.vue
Labels: Multiple price addition

#476 refactor: move missing error messages in alerts
  src/views/LocationDetail.vue
  src/views/ProductDetail.vue
Labels: 📍 Locations, 🥫 Product page

#478 refactor: new OpenStreetMapLink component
  src/components/OpenStreetMapLink.vue
  src/constants.js
  src/views/LocationDetail.vue
Labels: 📍 Locations

#479 refactor: new ProductFilterMenu component
  src/components/ProductFilterMenu.vue
  src/views/BrandDetail.vue
  src/views/CategoryDetail.vue
  src/views/ProductList.vue
Labels: Brands

#481 refactor: new ProductOrderMenu component
  src/components/ProductOrderMenu.vue
  src/constants.js
  src/views/BrandDetail.vue
  src/views/CategoryDetail.vue
  src/views/LocationDetail.vue
  src/views/ProductDetail.vue
  src/views/ProductList.vue
  src/views/UserDetail.vue
Labels: Brands, 📍 Locations, User, 🥫 Product page

#482 refactor: use FilterMenu in price list pages
  src/components/FilterMenu.vue
  src/components/ProductFilterMenu.vue
  src/views/BrandDetail.vue
  src/views/CategoryDetail.vue
  src/views/LocationDetail.vue
  src/views/ProductDetail.vue
  src/views/ProductList.vue
  src/views/UserDetail.vue
Labels: Brands, 📍 Locations, User, 🥫 Product page

#483 refactor: use OrderMenu in price list pages
  src/components/OrderMenu.vue
  src/components/ProductOrderMenu.vue
  src/views/BrandDetail.vue
  src/views/CategoryDetail.vue
  src/views/LocationDetail.vue
  src/views/ProductDetail.vue
  src/views/ProductList.vue
  src/views/UserDetail.vue
Labels: Brands, 📍 Locations, User, 🥫 Product page

#485 refactor: move FilterMenu & OrderMenu on the same line
  src/components/FilterMenu.vue
  src/components/OrderMenu.vue
  src/i18n/locales/en.json
  src/views/BrandDetail.vue
  src/views/CategoryDetail.vue
  src/views/LocationDetail.vue
  src/views/LocationList.vue
  src/views/ProductDetail.vue
  src/views/ProductList.vue
  src/views/UserDetail.vue
  src/views/UserList.vue
Labels: Brands, 📍 Locations, User, 🥫 Product page

#489 refactor: new UserCard component
  src/components/UserCard.vue
  src/views/UserDetail.vue
  src/views/UserList.vue
Labels: User

#490 refactor: new LocationCard component
  src/components/LocationCard.vue
  src/views/LocationDetail.vue
  src/views/LocationList.vue
Labels: 📍 Locations

#491 fix(Sign In): set username to lowercase
  src/assets/main.css
  src/components/LocationCard.vue
  src/components/PriceCard.vue
  src/components/PriceFooter.vue
  src/views/LocationDetail.vue
  src/views/SignIn.vue
Labels: 🔍 Search, 📍 Locations
