Repository openfoodfacts/open-prices-frontend, pull requests merged in 2024-08, with the labels that each got.

#695 feat(Product detail): new display toggle between list & map
  src/components/DisplayMenu.vue
  src/components/LeafletMap.vue
  src/components/LocationSelectorDialog.vue
  src/components/OrderMenu.vue
  src/constants.js
  src/i18n/locales/en.json
  src/views/ProductDetail.vue
Labels: 🥫 Product page

#696 refactor(User card): new action menu with OFF link
  src/components/OpenFoodFactsLink.vue
  src/components/UserActionMenuButton.vue
  src/components/UserCard.vue
  src/views/UserDetail.vue
Labels: Action menus

#697 refactor(Location card): new action menu with OSM link
  src/components/LocationActionMenuButton.vue
  src/components/LocationCard.vue
  src/components/OpenStreetMapLink.vue
  src/views/LocationDetail.vue
Labels: 📍 Locations, Action menus

#698 refactor(Product card): new action menu with OFF link
  src/components/ProductActionMenuButton.vue
  src/components/ProductCard.vue
  src/views/ProductDetail.vue
Labels: 🥫 Product page, Action menus

#700 refactor(Product card): move PriceAdd action to menu
  src/components/OpenFoodFactsLink.vue
  src/components/PriceAddLink.vue
  src/components/ProductActionMenuButton.vue
  src/components/UserActionMenuButton.vue
  src/views/BrandDetail.vue
  src/views/CategoryDetail.vue
  src/views/ProductDetail.vue
  src/views/ProofDetail.vue
Labels: Brands, 🥫 Product page, Action menus

#702 refactor(Proof card): move PriceAdd action to menu
  src/components/ProofActionMenuButton.vue
  src/views/ProofDetail.vue
Labels: Action menus

#703 refactor(Share button): rename ShareButton to ShareLink
  src/components/ShareButton.vue
  src/components/ShareLink.vue
  src/i18n/locales/en.json
  src/views/BrandDetail.vue
  src/views/CategoryDetail.vue
  src/views/DateDetail.vue
  src/views/LocationDetail.vue
  src/views/ProductDetail.vue
  src/views/UserDashboardPriceList.vue
  src/views/UserDetail.vue
Labels: User dashboard, Brands, 📍 Locations, User, 🥫 Product page, Translations

#705 refactor(Location card): move Share action to menu
  src/components/LocationActionMenuButton.vue
  src/views/LocationDetail.vue
Labels: 📍 Locations, Action menus

#711 refactor(Category Card): new action menu with OFF & Share links
  src/components/CategoryActionMenuButton.vue
  src/components/CategoryCard.vue
  src/views/CategoryDetail.vue
  src/views/ProductDetail.vue
  tests/e2e/spec.cy.js
Labels: 🥫 Product page, Action menus

#712 refactor(Brand detail): new BrandCard component
  src/components/BrandCard.vue
  src/views/BrandDetail.vue
  tests/e2e/spec.cy.js
Labels: Brands

#713 refactor(Brand Card): new action menu with OFF & Share links
  src/components/BrandActionMenuButton.vue
  src/components/BrandCard.vue
  src/views/BrandDetail.vue
Labels: Brands, Action menus

#715 refactor(Date Card): new action menu with Share link
  src/components/DateActionMenuButton.vue
  src/components/DateCard.vue
  src/views/DateDetail.vue
Labels: Action menus

#718 feat(Price add): When selecting an existing proof, fetch its existing prices
  src/views/AddPriceMultiple.vue
Labels: Price addition

#721 feat(Dashboard): New ordering menu to choose between price_count, date & created
  src/components/OrderMenu.vue
  src/constants.js
  src/i18n/locales/en.json
  src/views/UserDashboardProofList.vue
Labels: User dashboard, Translations

#724 feat(Price card): new action to view product OFF page
  src/components/PriceActionMenuButton.vue
  src/components/PriceCard.vue
  src/components/PriceFooterRow.vue
  src/i18n/locales/en.json
Labels: Translations, Action menus

#728 feat: new LoadedCountChip component
  src/components/LoadedCountChip.vue
  src/i18n/locales/en.json
  src/views/BrandDetail.vue
  src/views/CategoryDetail.vue
  src/views/DateDetail.vue
  src/views/LocationDetail.vue
  src/views/ProductDetail.vue
  src/views/ProofDetail.vue
  src/views/UserDashboardPriceList.vue
  src/views/UserDashboardProofList.vue
  src/views/UserDetail.vue
Labels: User dashboard, Brands, 📍 Locations, User, 🥫 Product page, Translations

#729 feat(Price add): display hint with price per unit
  src/components/PriceInputRow.vue
  src/components/PricePriceRow.vue
  src/views/AddPriceMultiple.vue
Labels: Price addition

#730 ci: Create merge-conflict-autolabel.yml
  .github/workflows/merge-conflict-autolabel.yml
Labels: GitHub Actions

#733 feat(Price add): if an existing product is found, show a warning
  src/components/ProductInputRow.vue
  src/i18n/locales/en.json
  src/views/AddPriceMultiple.vue
Labels: Price addition, Translations

#731 ci: Create dependabot.yml
  .github/dependabot.yml
Labels: GitHub Actions

#762 ci: Update labeler.yml to V5 syntax
  .github/labeler.yml
Labels: GitHub Actions
