Repository openfoodfacts/open-prices-frontend, pull requests merged in 2024-10, with the labels that each got.

#904 refactor(Product list): add filter to hide products without prices
  src/components/FilterMenu.vue
  src/constants.js
  src/i18n/locales/en.json
  src/views/BrandDetail.vue
  src/views/CategoryDetail.vue
  src/views/LabelDetail.vue
  src/views/LocationDetail.vue
  src/views/LocationList.vue
  src/views/ProductList.vue
  src/views/UserDashboardProofList.vue
  src/views/UserDetail.vue
  src/views/UserList.vue
Labels: User dashboard, Brands, User, 🥫 Product page, 📍 Locations:

#906 fix: kill the landing page
  .github/workflows/deploy.yml
  package.json
Labels: GitHub Actions

#907 refactor(Dashboard): fix Proof count. Cleanup Price & Proof headers
  src/views/UserDashboardPriceList.vue
  src/views/UserDashboardProofList.vue
Labels: User dashboard

#922 refactor(Stats): remove some totals, add new count per proof type
  src/views/Stats.vue
Labels: Stats

#924 refactor(Proofs): show image_thumb instead of (full) file image
  src/components/ProofActionMenuButton.vue
  src/components/ProofCard.vue
  src/components/ProofChip.vue
  src/i18n/locales/en.json
Labels: Action menus

#921 feat(App): Dark mode support
  src/App.vue
  src/components/Footer.vue
  src/components/Header.vue
  src/components/LeafletMap.vue
  src/components/PriceChart.vue
  src/i18n/locales/en.json
  src/i18n/locales/fr.json
  src/plugins/vuetify.js
  src/store.js
  src/views/About.vue
Labels: ✨ enhancement, dark mode

#932 feat(Add prices): add proof type choice directly in the form
  src/components/Header.vue
  src/components/PriceAddLink.vue
  src/components/ProofActionMenuButton.vue
  src/components/ProofInputRow.vue
  src/router.js
  src/views/AddPriceMultiple.vue
Labels: Price addition

#936 refactor(Add prices): new ProofImageInputRow component
  src/components/ProofImageInputRow.vue
  src/components/ProofInputRow.vue
Labels: Price addition

#939 feat(User dashboard): improve look & feel
  src/components/StatCard.vue
  src/components/UserActionMenuButton.vue
  src/services/api.js
  src/views/UserDashboard.vue
Labels: User dashboard, Action menus

#941 refactor(Price add): On price add done, redirect to User Dashboard
  src/views/AddPriceMultiple.vue
  src/views/AddPriceSingle.vue
  src/views/PriceList.vue
  src/views/UserDashboard.vue
Labels: Price addition, User dashboard

#944 refactor(User dashboard): My proofs: add filter by type
  src/components/FilterMenu.vue
  src/constants.js
  src/views/UserDashboardProofList.vue
Labels: User dashboard

#955 refactor(ProofCard): Only show proof thumb image in User Dashboard Proof List
  src/components/ProofCard.vue
  src/views/UserDashboardProofList.vue
Labels: User dashboard

#964 refactor(Location list): new filter by location type
  src/components/FilterMenu.vue
  src/components/UserRecentProofsDialog.vue
  src/constants.js
  src/views/LocationList.vue
  src/views/UserDashboardProofList.vue
Labels: User dashboard, 📍 Locations:

#966 refactor(Location card): manage ONLINE locations (title, hide OSM metadata, actions)
  src/components/LocationActionMenuButton.vue
  src/components/LocationCard.vue
  src/components/LocationChip.vue
  src/constants.js
  src/i18n/locales/en.json
  src/views/LocationDetail.vue
Labels: Action menus, 📍 Locations:

#967 refactor(Stats page): add extra count by location & proof type
  src/i18n/locales/en.json
  src/views/Stats.vue
Labels: Stats

#976 feat(Proof add): add new consumption-related fields to the form
  src/components/LocationInputRow.vue
  src/components/PriceInputRow.vue
  src/components/ProofEditDialog.vue
  src/components/ProofImageInputRow.vue
  src/components/ProofInputRow.vue
  src/components/ProofMetadataInputRow.vue
  src/i18n/locales/en.json
  src/services/api.js
  src/views/AddPriceMultiple.vue
Labels: Price addition

#978 refactor(Price add): show red asterisk next to required field labels
  src/assets/main.css
  src/components/LocationInputRow.vue
  src/components/ProductInputRow.vue
  src/components/ProofImageInputRow.vue
  src/components/ProofMetadataInputRow.vue
  src/components/ProofTypeInputRow.vue
  src/views/AddPriceMultiple.vue
Labels: Price addition

#950 feat(Settings page): new Settings page easily accessible
  src/components/Footer.vue
  src/components/Header.vue
  src/constants.js
  src/i18n/locales/en.json
  src/router.js
  src/views/Settings.vue
  src/views/UserSettings.vue
Labels: ⚙️ Settings

#992 refactor(Location search): add search hint, improve map zoom for single result
  src/components/LeafletMap.vue
  src/components/LocationSelectorDialog.vue
  src/utils.js
Labels: 📍 Locations, OpenStreetMap

#994 refactor(Stats): add links inside StatCard instead of dedicated buttons
  src/views/Stats.vue
Labels: Stats
