Repository openfoodfacts/open-prices-frontend, pull requests merged in 2024-12, with the labels that each got.

#1072 refactor(UI): On new price, scroll UI to the form
  src/views/AddPriceMultiple.vue
Labels: Price addition

#1075 refactor(Proof card): new components for receipt price_count & price_total
  src/components/ProofFooterRow.vue
  src/components/ProofReceiptPriceCountChip.vue
  src/components/ProofReceiptPriceTotalChip.vue
Labels: 📷 Proofs, Personal data

#1076 refactor(Price add): show receipt personal data in already added prices footer
  src/components/PriceAlreadyUploadedListCard.vue
  src/components/ProofFooterRow.vue
  src/components/ProofReceiptPriceCountChip.vue
  src/components/ProofReceiptPriceTotalChip.vue
Labels: Price addition, 📷 Proofs, Personal data

#1079 refactor(l10n): add new pluralization translations. Start cleaning unused translations
  eslint.config.js
  package.json
  src/components/BarcodeScannerDialog.vue
  src/i18n/locales/en.json
  src/views/LocationList.vue
  src/views/ProductList.vue
  src/views/UserDashboardPriceList.vue
  src/views/UserDashboardProofList.vue
  yarn.lock
Labels: User dashboard, 📍 Locations, 🥫 Product page

#1109 refactor(Price add): gain some space near the product & price checkboxes
  src/components/ContributionAssistantPriceFormCard.vue
  src/components/PriceInputRow.vue
  src/components/ProductInputRow.vue
  src/views/AddPriceMultiple.vue
  src/views/AddPriceSingle.vue
Labels: Price addition

#1114 feat(User Dashboard): My prices: add filter & order menus
  src/views/UserDashboardPriceList.vue
Labels: User dashboard

#1128 feat(Price add): simple "quantity bought" field (only for receipt proofs)
  src/components/PriceAlreadyUploadedListCard.vue
  src/components/PriceCard.vue
  src/components/PriceInputRow.vue
  src/components/PricePriceRow.vue
  src/i18n/locales/en.json
  src/services/api.js
  src/views/AddPriceMultiple.vue
  src/views/AddPriceSingle.vue
Labels: Price addition

#1129 refactor(ContributionAssistant): var names, translations, avoid async
  src/components/ContributionAssistantCropImageList.vue
  src/components/ContributionAssistantDrawCanvas.vue
  src/components/ContributionAssistantLabelList.vue
  src/components/ContributionAssistantPriceFormCard.vue
  src/i18n/locales/en.json
  src/services/api.js
  src/views/ContributionAssistant.vue
Labels: contribution assistant

#1134 refactor(Price add): move price_per selector in PriceInputRow
  src/components/ContributionAssistantPriceFormCard.vue
  src/components/PriceInputRow.vue
  src/components/ProductInputRow.vue
  src/views/ContributionAssistant.vue
  src/views/PriceAddMultiple.vue
  src/views/PriceAddSingle.vue
Labels: Price addition

#1136 refactor(Price list): add filter by type & price_count
  src/views/ProofList.vue
  src/views/UserDashboardPriceList.vue
  src/views/UserDashboardProofList.vue
Labels: 📷 Proofs

#1139 refactor(User dashboard): Prices: add new filter by type (Barcode or Category)
  src/views/UserDashboardPriceList.vue
Labels: User dashboard

#1143 feat(Settings): new Location selector default mode settings (recent, physical or online)
  src/components/BarcodeScannerDialog.vue
  src/components/LocationSelectorDialog.vue
  src/i18n/locales/en.json
  src/store.js
  src/views/Settings.vue
Labels: ⚙️ Settings

#1167 refactor(Proof upload): homogenise wording between different UIs. Use 'image' instead of 'proof'
  src/components/ProofImageInputRow.vue
  src/components/ProofInputRow.vue
  src/i18n/locales/en.json
  src/views/PriceAddMultiple.vue
  src/views/PriceAddSingle.vue
  src/views/ProofAddMultiple.vue
  src/views/ProofAddSingle.vue
Labels: Price addition

#1168 refactor(Proof upload): rename & upgrade ProofInputRow to ProofUploadCard
  src/components/ProofCard.vue
  src/components/ProofUploadCard.vue
  src/views/ContributionAssistant.vue
  src/views/PriceAddMultiple.vue
  src/views/PriceAddSingle.vue
  src/views/ProofAddMultiple.vue
  src/views/ProofAddSingle.vue
Labels: Price addition

#1172 refactor(Currency detail): new CurrencyCard with share link
  src/components/CurrencyActionMenuButton.vue
  src/components/CurrencyCard.vue
  src/views/CurrencyDetail.vue
Labels: Action menus

#1179 feat(User dashboard): show today price & proof stats if any
  src/i18n/locales/en.json
  src/views/UserDashboard.vue
Labels: User dashboard, Stats

#1055 ci: add matomo to the metrics project
  .github/workflows/github-projects.yml
Labels: GitHub Actions

#1197 refactor(Proofs): display the proof action menu to everyone
  src/components/ProofActionMenuButton.vue
  src/components/ProofFooterRow.vue
  src/views/ProofList.vue
Labels: 📷 Proofs, Action menus

#1198 refactor(Proofs): add action menu to open with the contribution asssitant
  src/components/PriceAddLink.vue
  src/components/ProofActionMenuButton.vue
  src/i18n/locales/en.json
Labels: 📷 Proofs, Action menus
