Repository openfoodfacts/open-prices-frontend, pull requests merged in 2024-06, with the labels that each got.

#584 feat(proof): fetch and insert proof data to 'add single price' page when using 'add the price' button
  src/components/PriceAddButton.vue
  src/views/AddPriceSingle.vue
Labels: Price addition

#610 refactor(price add multiple): small improvements on the form
  src/views/AddPriceMultiple.vue
Labels: Price addition

#612 feat(settings): user setting to display raw product category tag
  src/components/CategoryCard.vue
  src/components/CategoryTagChip.vue
  src/components/PriceCard.vue
  src/i18n/locales/en.json
  src/store.js
  src/utils.js
  src/views/ProductDetail.vue
  src/views/UserSettings.vue
Labels: ⚙️ Settings, 🥫 Product page

#614 refactor(price add): make product origin optional
  src/components/PriceInputRow.vue
  src/components/ProductInputRow.vue
  src/views/AddPriceMultiple.vue
  src/views/AddPriceSingle.vue
Labels: Price addition

#631 refactor(proof): On existing proof selected, init with proof date
  src/services/api.js
  src/views/AddPriceMultiple.vue
Labels: Price addition

#632 refactor(price add): new ProofInputRow component
  src/components/ProofInputRow.vue
  src/views/AddPriceMultiple.vue
  src/views/AddPriceSingle.vue
Labels: Price addition

#638 refactor(price add): prefix routes with /prices
  src/components/PriceAddButton.vue
  src/router.js
  src/views/AddPriceHome.vue
  src/views/AddPriceMultiple.vue
  src/views/AddPriceSingle.vue
  src/views/Home.vue
  src/views/SignIn.vue
Labels: Price addition

#639 feat(proof add): new page to add a proof
  src/components/ProofInputRow.vue
  src/i18n/locales/en.json
  src/router.js
  src/services/api.js
  src/views/AddPriceMultiple.vue
  src/views/Home.vue
  src/views/ProofAddSingle.vue
Labels: Price addition

#645 feat(price add): move date & currency to the proof section
  src/components/PriceInputRow.vue
  src/components/ProofInputRow.vue
  src/i18n/locales/en.json
  src/services/api.js
  src/views/AddPriceMultiple.vue
Labels: Price addition

#647 refactor(price add): new LocationInputRow component
  src/components/LocationInputRow.vue
  src/views/AddPriceMultiple.vue
  src/views/AddPriceSingle.vue
Labels: Price addition

#648 feat(price add): move location to the proof section
  src/components/LocationChip.vue
  src/components/LocationInputRow.vue
  src/components/PriceFooterRow.vue
  src/components/PriceLocationChip.vue
  src/components/ProofCard.vue
  src/components/ProofFooter.vue
  src/components/ProofInputRow.vue
  src/services/api.js
  src/utils.js
  src/views/AddPriceMultiple.vue
  src/views/AddPriceSingle.vue
Labels: Price addition

#637 refactor(price add): when coming from the proof detail page, direct users to multiple add form
  src/components/PriceAddButton.vue
  src/views/AddPriceMultiple.vue
  src/views/ProofDetail.vue
Labels: Price addition

#635 feat(price add): hide single price add workflow
  src/views/AddPriceHome.vue
  src/views/AddPriceSingle.vue
Labels: Price addition

#649 refactor: add tooltips and helps
  src/components/ProofInputRow.vue
  src/i18n/locales/en.json
  src/views/UserSettings.vue
Labels: ⚙️ Settings

#664 refactor(price card): rename components for clarification
  src/components/PriceFooterRow.vue
  src/components/ProofCard.vue
  src/components/ProofChip.vue
  src/components/UserChip.vue
  src/i18n/locales/en.json
  src/views/AddPriceSingle.vue
Labels: Price addition
