Repository openfoodfacts/open-prices-frontend, pull requests merged in 2024-05, with the labels that each got.

#572 test: setup E2E tests with Cypress
  .github/workflows/tests.yml
  CONTRIBUTING.md
  README.md
  cypress.config.js
  package.json
  src/components/PriceCard.vue
  src/components/PriceCountChip.vue
  src/components/ProductCard.vue
  src/components/ProductMissingChip.vue
  src/views/Home.vue
  tests/e2e/spec.cy.js
  tests/fixtures/pitted_apricot_prices.json
  tests/fixtures/prices.json
  tests/fixtures/product_3011360030498.json
  tests/fixtures/product_3011360030498_prices.json
  tests/fixtures/products.json
  tests/support/commands.js
  tests/support/e2e.js
  yarn.lock
Labels: GitHub Actions

#577 fix(Product detail): avoid 'Unknown product' message displayed for raw categories
  src/components/PriceAddButton.vue
  src/components/PriceCard.vue
  src/components/ProductCard.vue
  src/views/ProductDetail.vue
  src/views/ProofDetail.vue
  tests/e2e/spec.cy.js
Labels: 🥫 Product page

#589 feat(proof): recent proof dialog: add load more button, filter list depending on receipt or price tag
  src/components/UserRecentProofsDialog.vue
  src/views/AddPriceMultiple.vue
Labels: Price addition

#600 feat: user setting to display location OSM ID
  src/components/LocationCard.vue
  src/components/LocationSelectorDialog.vue
  src/i18n/locales/en.json
  src/store.js
  src/utils.js
  src/views/AddPriceMultiple.vue
  src/views/AddPriceSingle.vue
  src/views/LocationList.vue
  src/views/UserSettings.vue
Labels: Price addition, ⚙️ Settings, 📍 Locations
