Repository openfoodfacts/open-prices-frontend, pull requests merged in 2025-01, with the labels that each got.

#1216 feat(l10n): translate label list in price add form depending on user locale
  src/components/ProductInputRow.vue
  src/utils.js
Labels: 🌐 Internationalization

#1217 refactor(Price label chip): translate chip content depending on user locale
  src/components/PriceLabels.vue
  src/utils.js
Labels: 🌐 Internationalization

#1218 refactor(Price origin chip): translate chip content depending on user locale
  src/components/PriceOrigins.vue
Labels: 🌐 Internationalization

#1220 refactor(Price card): Add action to proof detail page
  src/components/PriceActionMenuButton.vue
Labels: Action menus

#1222 refactor(Contribution Assistant): make labels linked to prices readonly
  src/components/ContributionAssistantLabelList.vue
  src/components/ContributionAssistantPriceFormCard.vue
Labels: contribution assistant

#1224 refactor(Contribution Assistant): cleanup: small improvements for prices already added
  src/components/ContributionAssistantPriceFormCard.vue
  src/views/ContributionAssistant.vue
Labels: contribution assistant

#1223 refactor(Contribution Assistant): add proof footer details below canvas image
  src/views/ContributionAssistant.vue
Labels: contribution assistant

#1243 refactor(Breadcrumbs): homogenize display and padding (better)
  src/components/Breadcrumbs.vue
  src/constants.js
  src/views/Home.vue
Labels: UI

#1247 refactor(Price add): better cleanup payload before calling the API
  src/services/api.js
  src/views/PriceAddMultiple.vue
  src/views/PriceAddSingle.vue
Labels: Price addition

#1248 feat(Proof add): add explicit CTAs at the end
  src/components/ProofUploadCard.vue
  src/i18n/locales/en.json
  src/views/ProofAddMultiple.vue
  src/views/ProofAddSingle.vue
Labels: Price addition

#1254 feat(Price add multiple): add a stepper at the top to guide users + add explicit CTAs at the end
  src/i18n/locales/en.json
  src/views/PriceAddMultiple.vue
  src/views/PriceAddSingle.vue
Labels: Price addition

#1255 feat(Locations): new page to list all of the location's proofs
  src/components/Breadcrumbs.vue
  src/i18n/locales/en.json
  src/router.js
  src/views/LocationProofList.vue
Labels: 📍 Locations

#935 feat(Challenge Page): A page for community challenges
  src/components/ChallengeTakePicturesCard.vue
  src/components/ChallengeTimeline.vue
  src/components/ChallengeValidateCard.vue
  src/i18n/locales/en.json
  src/router.js
  src/services/api.js
  src/views/CurrentChallenge.vue
  src/views/Experiments.vue
Labels: 👾 Gamification, Challenges

#1269 feat(Theme): change most CTA button colors to primary (instead of success)
  src/components/BarcodeScannerDialog.vue
  src/components/ChallengeTakePicturesCard.vue
  src/components/ChallengeValidateCard.vue
  src/components/ContributionAssistantPriceFormCard.vue
  src/components/LocationSelectorDialog.vue
  src/components/PriceEditDialog.vue
  src/components/ProofEditDialog.vue
  src/components/ProofUploadCard.vue
  src/views/ContributionAssistant.vue
  src/views/PriceAddMultiple.vue
  src/views/PriceAddSingle.vue
  src/views/ProofAddMultiple.vue
  src/views/ProofAddSingle.vue
  src/views/Search.vue
  src/views/Settings.vue
  src/views/UserSettings.vue
Labels: Price addition, 🔍 Search, ⚙️ Settings

#1271 feat(Mobile): have full-width (block) CTAs on mobile
  src/components/ChallengeTakePicturesCard.vue
  src/components/ChallengeValidateCard.vue
  src/components/PriceDeleteConfirmationDialog.vue
  src/components/PriceEditDialog.vue
  src/components/ProofDeleteConfirmationDialog.vue
  src/components/ProofEditDialog.vue
  src/components/ProofUploadCard.vue
  src/views/PriceAddMultiple.vue
  src/views/ProofAddMultiple.vue
  src/views/ProofAddSingle.vue
Labels: Price addition

#1276 fix(Price add): Allow 'quantity bought' field to be decimal
  src/components/PriceAlreadyUploadedListCard.vue
  src/components/PriceInputRow.vue
  src/components/PricePriceRow.vue
Labels: Price addition, Personal data

#1275 refactor(Contribution assistant): replace tabs with a stepper
  src/components/ProofUploadCard.vue
  src/i18n/locales/en.json
  src/views/ContributionAssistant.vue
Labels: UI, contribution assistant

#1295 refactor(Product missing): remove warning icon to scare less users
  src/components/ProductMissingChip.vue
  src/views/ContributionAssistant.vue
  src/views/LocationDetail.vue
  src/views/PriceAddMultiple.vue
  src/views/ProductDetail.vue
Labels: Price addition, 📍 Locations, 🥫 Product page

#1303 refactor(Proofs): wording: replace 'Image' with 'Picture'
  src/components/ProofActionMenuButton.vue
  src/components/ProofImageInputRow.vue
  src/components/ProofUploadCard.vue
  src/i18n/locales/en.json
Labels: Action menus

#1312 refactor(Price validation): add a new settings to display the price edit form by default
  src/components/ContributionAssistantPriceFormCard.vue
  src/components/PriceInputRow.vue
  src/components/ProductInputRow.vue
  src/constants.js
  src/i18n/locales/en.json
  src/store.js
  src/views/Settings.vue
Labels: ⚙️ Settings

#1339 feat(Stats): new Experiments section, with challenges & prices with price tag count
  src/i18n/locales/en.json
  src/views/Stats.vue
Labels: Stats

#1340 refactor(User detail): fetch full user object from backend
  src/components/UserActionMenuButton.vue
  src/components/UserCard.vue
  src/views/UserDetail.vue
Labels: User, Action menus

#1347 refactor(Action menus): add a hideActionMenuButton prop in all the cards with actions
  src/components/BarcodeScannerDialog.vue
  src/components/BrandCard.vue
  src/components/CategoryCard.vue
  src/components/ContributionAssistantPriceFormCard.vue
  src/components/CurrencyCard.vue
  src/components/DateCard.vue
  src/components/LabelCard.vue
  src/components/LocationCard.vue
  src/components/PriceCard.vue
  src/components/PriceFooterRow.vue
  src/components/ProductCard.vue
  src/components/ProductInputRow.vue
  src/components/ProofCard.vue
  src/components/ProofDeleteConfirmationDialog.vue
  src/components/ProofDialog.vue
  src/components/ProofEditDialog.vue
  src/components/ProofFooterRow.vue
  src/components/ProofUploadCard.vue
  src/components/UserCard.vue
  src/components/UserRecentProofsDialog.vue
  src/views/ContributionAssistant.vue
  src/views/PriceAddMultiple.vue
Labels: Price addition
