Repository openfoodfacts/open-prices-frontend, pull requests merged in 2025-03, with the labels that each got.

#1403 refactor(Stats): new Misc section. Show prices & proofs count per source
  src/i18n/locales/en.json
  src/views/Stats.vue
Labels: Stats

#1421 build: rename main branch from 'master' to 'main'
  .github/workflows/deploy.yml
  .github/workflows/release-please.yml
  README.md
Labels: GitHub Actions

#1423 refactor(Stats): new unique country stats (in Misc)
  src/views/Stats.vue
Labels: Stats

#1424 refactor(Stats): new unique year count stat (in Misc)
  src/i18n/locales/en.json
  src/views/Stats.vue
Labels: Stats

#1427 feat(Proofs): Display the new receipt_online_delivery_costs field in the form
  src/components/ProofEditDialog.vue
  src/components/ProofFooterRow.vue
  src/components/ProofMetadataInputRow.vue
  src/components/ProofReceiptOnlineDeliveryCostsChip.vue
  src/components/ProofUploadCard.vue
  src/i18n/locales/en.json
  src/services/api.js
  src/views/PriceAddMultiple.vue
Labels: Price addition, 📷 Proofs

#1438 refactor(Forms): add green color to v-switch (Proof, Price & Settings)
  src/components/PriceInputRow.vue
  src/components/ProductInputRow.vue
  src/components/ProofMetadataInputRow.vue
  src/components/ProofUploadCard.vue
  src/views/Settings.vue
Labels: ⚙️ Settings

#1439 refactor(Proofs): move up the location field above the image(s)
  src/components/ProofUploadCard.vue
Labels: 📷 Proofs

#1441 refactor(Price add): change look & feel of input text fields
  src/components/PriceInputRow.vue
Labels: Price addition

#1444 refactor(Price add): change look & feel of input select fields
  src/components/PriceInputRow.vue
  src/components/ProductInputRow.vue
Labels: Price addition

#1443 refactor(Forms): add a red asterisk next to the required field labels
  src/components/PriceInputRow.vue
  src/components/ProductInputRow.vue
  src/components/ProofMetadataInputRow.vue
Labels: UI, Price addition

#1446 feat(Proofs): display the new owner_comment field (form, chip, history)
  src/assets/main.css
  src/components/HistoryCard.vue
  src/components/ProofEditDialog.vue
  src/components/ProofFooterRow.vue
  src/components/ProofMetadataInputRow.vue
  src/components/ProofUploadCard.vue
  src/components/ProofUserCommentChip.vue
  src/constants.js
  src/i18n/locales/en.json
  src/services/api.js
  src/views/PriceAddMultiple.vue
Labels: Price addition

#1453 feat(Prices): allow editing receipt quantity field
  src/components/PriceEditDialog.vue
  src/views/PriceAddMultiple.vue
Labels: Price addition

#1455 feat(Prices): display a suffix next to the receipt quantity field (kg)
  src/components/PriceInputRow.vue
  src/i18n/locales/en.json
Labels: Personal data

#1402 feat(User Dashboard): start splitting data between consumption & community
  src/constants.js
  src/i18n/locales/en.json
  src/services/api.js
  src/views/UserDashboard.vue
Labels: User dashboard, Personal data

#1467 feat(Reuses): add 2 new reuses by Albert :rocket:
  public/reuses/dietoptimization.png
  public/reuses/openpricesmap.png
  src/data/reuses.json
Labels: Community engagement

#1469 refactor(User Dashboard): fetch price & proof data using the new `kind` filter
  src/views/UserDashboard.vue
Labels: User dashboard, Personal data

#1471 feat(User Dashboard): add a new filter by kind (prices & proofs) (consumption or community)
  src/components/FilterMenu.vue
  src/constants.js
  src/i18n/locales/en.json
  src/views/UserDashboard.vue
  src/views/UserDashboardPriceList.vue
  src/views/UserDashboardProofList.vue
Labels: User dashboard, Personal data
