Repository openfoodfacts/open-prices-frontend, pull requests merged in 2025-04, with the labels that each got.

#1394 feat(Experiments): Receipt Assistant
  src/components/ContributionAssistantPriceFormCard.vue
  src/components/ProofTypeInputRow.vue
  src/components/ProofUploadCard.vue
  src/components/ReceiptTableCard.vue
  src/i18n/locales/en.json
  src/router.js
  src/services/api.js
  src/views/Experiments.vue
  src/views/ReceiptAssistant.vue
Labels: 💥 Merge Conflicts

#1491 refactor(User Dashboard): point some CTAs directly to the correct tab. Use 'to' instead of 'click'
  src/constants.js
  src/views/PriceAddMultiple.vue
  src/views/ProofAddMultiple.vue
  src/views/ReceiptAssistant.vue
Labels: Price addition

#1494 refactor(Crops): improve perfomances
  src/components/ContributionAssistantPriceFormCard.vue
  src/components/ProofImageCropped.vue
Labels: 🚄 Performance

#1524 feat(Settings): allow users to set a default price list display
  src/i18n/locales/en.json
  src/store.js
  src/views/ProductDetail.vue
  src/views/Settings.vue
Labels: ⚙️ Settings, 🥫 Product page
