Repository openfoodfacts/open-prices-frontend, pull requests merged in 2025-09, with the labels that each got.

#1670 fix(l10n): update `WhatOFFAnswer` to reflect 4 million product milestone
  src/i18n/locales/en.json
Labels: :star: top pull request

#1671 refactor(Challenges): ChallengeCard: display the number of locations if used as a filter
  src/components/ChallengeCard.vue
Labels: Challenges

#1673 refactor: remove when possible <br> (move <h2> inside <v-col>)
  src/views/ChallengeDetail.vue
  src/views/Community.vue
  src/views/Contribute.vue
  src/views/Stats.vue
Labels: Stats

#1682 refactor(Locations): small improvements in geo utils (new withCountry param)
  src/components/CountryCard.vue
  src/components/LocationCard.vue
  src/components/LocationInputRow.vue
  src/components/LocationRecentChip.vue
  src/utils/geo.js
  src/views/ProofPriceTagAssistant.vue
Labels: contribution assistant

#1695 refactor(Receipt Assistant): avoid calling the proof API twice
  src/views/ProofPriceTagAssistant.vue
  src/views/ReceiptAssistant.vue
Labels: contribution assistant

#1696 fix(Proof Price Tag Assistant): restrict to PRICE_TAG proofs
  src/views/ProofPriceTagAssistant.vue
Labels: contribution assistant

#1704 fix(ProofPriceTagAssistant): Properly wait when new boxes are drawn on old proofs
  src/views/ProofPriceTagAssistant.vue
  src/views/ReceiptAssistant.vue
Labels: contribution assistant
