Repository openfoodfacts/open-prices-frontend, pull requests merged in 2025-10, with the labels that each got.

#1726 refactor(Utils): new date.oneMonthAgoDate method
  src/utils/date.js
  src/views/ChallengePriceList.vue
  src/views/LocationDetail.vue
  src/views/PriceList.vue
  src/views/ProductDetail.vue
  src/views/UserDashboardPriceList.vue
  src/views/UserDetail.vue
Labels: User dashboard, 📍 Locations, User, 🥫 Product page

#1731 refactor(Display Menu): new prop to explicitly set the display options
  src/components/DisplayMenu.vue
  src/constants.js
  src/views/CountryCityDetail.vue
  src/views/CountryDetail.vue
  src/views/ProductDetail.vue
  src/views/ProofDetail.vue
Labels: 🥫 Product page

#1729 refactor(Location detail): add price display toggle (list or table)
  src/components/PriceTable.vue
  src/views/LocationDetail.vue
Labels: 📍 Locations

#1742 refactor(User detail): add price display toggle (list or table)
  src/views/UserDetail.vue
Labels: User

#1685 feat(Experiment): Add product to product opener using prices information
  package.json
  src/components/ContributionAssistantDrawCanvas.vue
  src/i18n/locales/en.json
  src/router.js
  src/services/api.js
  src/views/CreateOffProduct.vue
  src/views/ProofPriceTagAssistant.vue
  yarn.lock
Labels: :star: top pull request, 🥫 Product page, contribution assistant
