Repository openfoodfacts/open-prices-frontend, pull requests merged in 2025-02, with the labels that each got.

#1349 refactor(Price validation): only show Price tags with a prediction
  src/views/PriceValidationAssistant.vue
Labels: Experiment

#1351 refactor(Stats): Add the currency_count & country_count stats
  src/i18n/locales/en.json
  src/views/Stats.vue
Labels: Stats

#1379 feat(Reuses): add prixdle.com
  public/reuses/prixdle.png
  src/data/reuses.json
Labels: Reuse

#1377 refactor(ContributionAssistant): display correct values for existing prices
  src/views/ContributionAssistant.vue
  src/views/PriceAddMultiple.vue
Labels: Price addition

#1387 ci: fix deploy proxy host
  .github/workflows/deploy.yml
Labels: GitHub Actions

#1389 feat(Stats): display price count per product source (OxF flavors)
  src/components/StatCard.vue
  src/views/Stats.vue
Labels: Stats

#1397 refactor(Stats): new community & consumption price counts
  src/i18n/locales/en.json
  src/views/Stats.vue
Labels: Stats
